<template>
  <div class="catalogue">
    <section class="heroSection">
      <b-container>
        <b-row class="justify-content-start align-items-center">
          <b-col md="12">
            <div class="heroHeading">
              <h1 class="bigText">Catalogue</h1>
            </div>
          </b-col>
        </b-row>
      </b-container>
    </section>

    <section class="range">
      <b-container>
        <b-row class="headingRow">
          <h2 class="sectionHeading">Prowud Prelam Range</h2>
        </b-row>

        <b-row class="contentRow"> 
          <template v-for="catalogue in catalogues[0]">
            <b-col md="2" v-bind:id="catalogue.id"  v-on:click="cataloguedetails(catalogue.id)" class="catalogueitem gridItem" @click="$bvModal.show('modal-product')">
              <div class="imgContainer">
                <img :src="catalogue.image" alt="" />
              </div>
              <div class="productName">{{catalogue.name}}</div>
            </b-col>
          </template>
        </b-row>
      </b-container>
    </section>

    <section class="downloads">
      <b-container>
        <h2 class="section--heading">Download Catalogues</h2>
        <carousel class="homepage--slider" :autoplayHoverPause="false" :per-page="4" v-bind:autoplay="true" v-bind:loop="true" v-bind:infinite="true">
          <slide>
            <div class="gridContent">
              <div class="imgContainer">
                <img src="../assets/img/icons/pdf-icon.png" alt="PDF" />
              </div>
              <div class="documentName">Century PROWUD Master catalogue</div>
              <!-- <a class="btn dwnldBtn" href="../assets/pdf/master-catalogue.pdf" download>Download</a> -->
              <b-button v-b-modal.modal-catalogues class="btn dwnldBtn">Download</b-button>
            </div>
          </slide>

          <slide>
            <div class="gridContent">
              <div class="imgContainer">
                <img src="../assets/img/icons/pdf-icon.png" alt="PDF" />
              </div>
              <div class="documentName">Premium Plus</div>
              <!-- <a class="btn dwnldBtn" href="../assets/pdf/premium-plus.pdf" download>Download</a> -->
              <b-button v-b-modal.modal-catalogues class="btn dwnldBtn">Download</b-button>
            </div>
          </slide>

          <slide>
            <div class="gridContent">
              <div class="imgContainer">
                <img src="../assets/img/icons/pdf-icon.png" alt="PDF" />
              </div>
              <div class="documentName">Specifications and Standards Plain and Prelam PROWUD</div>
              <!-- <a class="btn dwnldBtn" href="../assets/pdf/specifications-standards-plain-prelam-prowud.pdf" download>Download</a> -->
              <b-button v-b-modal.modal-catalogues class="btn dwnldBtn">Download</b-button>
            </div>
          </slide>

          <slide>
            <div class="gridContent">
              <div class="imgContainer">
                <img src="../assets/img/icons/pdf-icon.png" alt="PDF" />
              </div>
              <div class="documentName">Specifications and Standards Particle Board</div>
              <!-- <a class="btn dwnldBtn" href="../assets/pdf/specifications-standards-particle-board.pdf" download>Download</a> -->
              <b-button v-b-modal.modal-catalogues class="btn dwnldBtn">Download</b-button>
            </div>
          </slide>

          <slide>
            <div class="gridContent">
              <div class="imgContainer">
                <img src="../assets/img/icons/pdf-icon.png" alt="PDF" />
              </div>
              <div class="documentName">Century PROWUD & Particle Board Catalogue</div>
              <!-- <a class="btn dwnldBtn" href="../assets/pdf/century-prowud-particle-board-catalogue" download>Download</a> -->
              <b-button v-b-modal.modal-catalogues class="btn dwnldBtn">Download</b-button>
            </div>
          </slide>

        </carousel>
      </b-container>
    </section>

    <!-- modal for products-->
    <b-modal id="modal-product" size="xl" centered>
      <button type="button" class="close" @click="$bvModal.hide('modal-product')">
        <img src="../assets/img/icons/close.png" alt="Close Button" />
      </button>

      <b-container>
        <b-row class="justify-content-center align-items-center">
          <div class="col-md-5">
            <div class="imgContainer big">
              <img :src="cataloguesdetails.image" alt="Wood1" />
            </div>
          </div>

          <div class="col">
            <div class="contentContainer">
              <h2 class="productName">PROWUD PRELAM RANGE</h2>
              <p class="productCode">Product Code: <span>{{ cataloguesdetails.name }}</span></p>
              <p class="lamination">Lamination: <span>{{ cataloguesdetails.lamination }}</span></p>
              <p class="finish">Finish: <span>{{ cataloguesdetails.finish }}</span></p>

              <ul class="actions">
                <li class="action">
                  <a href="#">
                    <div class="imgContainer">
                      <img src="../assets/img/icons/mail.png" alt="mail" />
                    </div>
                    <div class="text">Enquire</div>
                  </a>
                </li>
                <li class="action">
                  <a href="#">
                    <div class="imgContainer">
                      <img src="../assets/img/icons/download.png" alt="download" />
                    </div>
                    <div class="text">Download <br/> Catalogue</div>
                  </a>
                </li>
                <li class="action">
                  <a href="#">
                    <div class="imgContainer">
                      <img src="../assets/img/icons/location.png" alt="location" />
                    </div>
                    <div class="text">Find Dealer</div>
                  </a>
                </li>
                <li class="action">
                  <a href="#">
                    <div class="imgContainer">
                      <img src="../assets/img/icons/face.png" alt="smile" />
                    </div>
                    <div class="text">Experience</div>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </b-row>
      </b-container>
    </b-modal>

    <!-- modal for pdf catalogues -->
    <b-modal id="modal-catalogues" centered>
      <button type="button" class="close" @click="$bvModal.hide('modal-catalogues')">
        <img src="../assets/img/icons/close.png" alt="Close Button" />
      </button>

      <b-container>
        <h2 class="section--heading">Download Catalogue</h2>
        <b-form id="downloadCatalogue" @submit="onSubmit" v-if="show">
       <b-form-group id="nameCatalogue">
        <b-form-input id="nameCatalogue" v-model="form.name" required placeholder="Enter name"></b-form-input>
      </b-form-group>

      <b-form-group id="emailCatalogue">
        <b-form-input id="emailCatalogue" v-model="form.email" type="email" required placeholder="Enter email"></b-form-input>
      </b-form-group>

      <b-form-group id="phoneCatalogue" >
        <b-form-input id="phoneCatalogue" v-model="form.phone" required placeholder="Enter Phone Number"></b-form-input>
      </b-form-group>

      <div class="form-group enquire__field" data-number="2">
        <input type="text" class="form-control" id="otp_mobile" v-model="form.otp_mobile" placeholder="Enter Mobile no." required="true"/>
        <button type="submit" id="sendOTPBtn"@click="requestOTP" class="btn btn-primary sendOtp" >Get OTP</button>
        <button type="submit" @click="requestResendOTP" class="resend__button">Resend OTP</button>
      </div>

      <div class="form-group enquire__field" id="optMobileField" style="display: none;" data-number="3">
          <input type="text" class="form-control" id="otp" placeholder="Enter OTP" v-model="form.otp"/>
          <button type="submit" class="btn btn-primary send__enquiry">Send Enquiry</button>
        </div>
    </b-form>
    <div class="view-button" v-if="display">
      <div class="container">
        <a class="view" target="_blank">View Catalogue</a>
        <a class="view download" target="_blank">Download Catalogue</a>
      </div>
    </div>
      </b-container>
    </b-modal>
  </div>
</template>

<script>
  import API_CONFIG from "../store/config";
  import { Carousel, Slide } from "vue-carousel";
  export default {
    name: "catalogue",
    components: {
      Carousel,
      Slide
    },
    mounted() {},
    data() {
      return {
        catalogues: "",
        cataloguesdetails: "",
        form: {
          emailCatalogue: '',
          nameCatalogue: '',
          phoneCatalogue: '',
          checked: [],
        },
        show: true,
        display: false
      };
    },
    methods: {
     //  onSubmit(evt) {
     //   display: true
     // },
      async getcatalogues() 
      {
        const response = await fetch(
          API_CONFIG.GET_catalogues
          )
        .then(res => res.json())
        .then(data => data);
        if (response.status_code == 200)
        {
          this.catalogues = [];
          this.catalogues.push(response.data);
        }
      },
      async cataloguedetails(id) 
      {
        const response = await fetch(
          API_CONFIG.GET_cataloguesdetails+ "/" + id
          )
        .then(res => res.json())
        .then(data => data);
        if (response.status_code == 200)
        {
         this.cataloguesdetails = [];
         this.cataloguesdetails['name'] = response.data.name;
         this.cataloguesdetails['image'] = response.data.image;
         this.cataloguesdetails['lamination'] = response.data.lamination;
         this.cataloguesdetails['finish'] = response.data.finish;
       }
     },
   },
   beforeMount()
   {
    this.getcatalogues();
  },
};
</script>