<template>
 <div class="contact--us">
  <div class="top--banner">
   <div class="banner--writeup">
    <h2>Contact Us</h2>
  </div>
</div>
<div class="contact__wrapper">
 <b-container>
  <b-row class="century-prowud-address">
   <b-col class="col-md-6 address_ text">
    <h2 class="section--heading">Century Mdf</h2>
    <div class="getintouch">
     <h3>Contact Details</h3>
     <p class="address">
      <a href="tel:+917042399909">P: +917042399909</a>
      <a href="mailto:prowud@centuryply.com">E: prowud@centuryply.com</a>
    </p>
    <p class="address">
      <b>Sales & Marketing Office :</b>
      217, DLF Prime Towers Plot No. 79 & 80, Pocket-F, Okhla Phase-1, New Delhi-110020
    </p>
    <p class="address">
      <b>Head office :</b>
      CENTURY HOUSE P 15/1, Taratala Road, Kolkata-700088
    </p>
  </div>
</b-col>
<b-col class="col-md-6 address_">
  <gmap-map :center="center" :zoom="10" style="width: 100%; height: 400px">
   <gmap-marker
   :key="index"
   v-for="(m, index) in markers"
   :position="m.position"
   :clickable="true"
   :draggable="true"
   @click="center=m.position"
   ></gmap-marker>
 </gmap-map>
</b-col>
</b-row>
</b-container>
</div>
<div class="enquiry__wrapper">
 <b-container>
  <b-row class="enquire_">
   <b-col col="col-md-6">
    <figure class="enq_image" :style="{'background-image': 'url(' + require('../assets/img/contact/enquiry-feat.png') + ')'}">
    </figure>
  </b-col>
  <b-col col="col-md-6">
    <div class="enquiry__form">
     <b-form id="enquiryForm" @submit="onSubmit" v-if="show">
      <b-form-group id="nameEnq" label="Name:" label-for="name">
       <b-form-input id="name" v-model="form.name" required></b-form-input>
     </b-form-group>
     <b-form-group id="emailId" label="Email ID:" label-for="email">
       <b-form-input id="email" v-model="form.email" type="email" required></b-form-input>
     </b-form-group>
     <b-form-group id="phoneNumber" label="Phone:" label-for="phone">
       <b-form-input id="phone" v-model="form.phone" type="phone" required></b-form-input>
     </b-form-group>
     <div class="message">
      <label class="text-label" for="textarea-default">Message</label>
      <b-form-textarea id="textarea" v-model="form.message" rows="6"></b-form-textarea>
    </div>
    <p id="successMsg" style="position:absolute;color:#009900;display:none">Saved Successfully</p>
    <p id="errorMsg" style="position:absolute;color:#ff0000;display:none">Something went wrong</p>
    <b-button type="submit" class="send--enquiry" variant="primary">Send</b-button>
  </b-form>
</div>
</b-col>
</b-row>
</b-container>
</div>
</div>
</template>
<style></style>
<script>
 import API_CONFIG from "../store/config";
 export default {
   name: "contact",
   components: {
   },
   data() {
     return {
      center: {
       lat: 28.3761818,
       lng: 76.8782124
     },
     markers: [
     {
       position: {
         lat: 28.3761818,
         lng: 76.8782124
       }
     }
     ],
     form: {
      email: '',
      name: '',
      food: null,
      text: '',
      checked: []
    },
    show: true
  };
},
methods: {
 onSubmit(evt) 
 {
   evt.preventDefault()
   this.contact();
 },
 async contact() 
 {
   document.getElementById("successMsg").style.display="none";
   document.getElementById("errorMsg").style.display="none";
   const response = await fetch(API_CONFIG.Contact, {
     method: "post",
     body: JSON.stringify({
       name: this.form.name,
       email: this.form.email,
       message: this.form.message,
     })
   })
   .then(res => res.json())
   .then(data => data);
   console.log(response);
   if (response.status_code == 200)
   {
     document.getElementById("successMsg").style.display="block";
   }
   else
   {
     document.getElementById("errorMsg").style.display="block";
   }
 },
 onReset(evt) {
  evt.preventDefault()
        // Reset our form values
        this.form.email = ''
        this.form.name = ''
        this.form.food = null
        this.form.checked = []
        // Trick to reset/clear native browser form validation state
        this.show = false
        this.$nextTick(() => {
          this.show = true
        })
      }
    }
  };
</script>