<template>
  <div class="creatingResponsibly">
    <section class="heroSection">
      <b-container>
        <b-row class="justify-content-start align-items-center">
          <b-col md="12" class>
            <div class="heroHeading">
              <h3 class="smallText">Creating</h3>
              <h1 class="bigText">RESPONSIBLY</h1>
            </div>
          </b-col>
        </b-row>
      </b-container>
    </section>

    <section class="creatingResponsiblySection">
      <b-container>
        <b-row class="justify-content-center align-items-center">
          <b-col md="12" class="contentContainer">
            <b-row class="justify-content-start align-items-center">
              <b-col md="6" class="sectionContentContainer">
                <div class="sectionContent">
                  <h2 class="sectionHeading">CREATING RESPONSIBLY</h2>
                  <p class="sectionText">
                   After the industrial revolution and the population explosion, the planet’s forests have been shrinking at a rapid pace. The forests that turn globe-warming CO2 into life-giving oxygen are disappearing because of our desire for natural materials like wood.

                    <br />
                    <br />It’s time to work with a better alternative. The world has moved to environment-friendly wood solutions like MDF and Particle Board manufactured with advanced technology and excellent aesthetics. And now you can too! Century Prowud and CenturyParticleBoard Proplank offer you quality that matches international standards of performance, durability and aesthetics to open up creative possibilities like never before. 

                    <br />
                    <br />So go ahead and think as big as the world does.

                  </p>
                </div>
              </b-col>
            </b-row>
          </b-col>
        </b-row>
      </b-container>
    </section>

    <section class="stateOfTheArtSection">
      <b-container>
        <b-row class="justify-content-center align-items-center">
          <b-col md="12" class="contentContainer">
            <b-row class="justify-content-end align-items-center">
              <b-col md="6" class="sectionContentContainer">
                <div class="sectionContent">
                  <h2 class="sectionHeading">STATE-OF-THE-ART PLANT</h2>
                  <p class="sectionText">
                   Century Prowud is a product of the most advanced plant in the country, with machinery and equipment that ensure a world-class product, every time. Spread over 1,57,600 sqm (32,660 sqm of covered area) in Hoshiarpur, Punjab, this brand new plant is also one of the largest MDF plants in the country, with a capacity to produce 600 cbm per day (over 2,00,000 cbm annually) of the best MDF in India, with superior density and a wide range of colours to choose from.

                  </p>
                </div>
              </b-col>
            </b-row>
          </b-col>
        </b-row>
      </b-container>
    </section>

    <section class="drivenByInnovationSection">
      <b-container>
        <b-row class="justify-content-center align-items-center">
          <b-col md="12" class="contentContainer">
            <b-row class="justify-content-start align-items-center">
              <b-col md="6" class="sectionContentContainer">
                <div class="sectionContent">
                  <h2 class="sectionHeading">DRIVEN BY INNOVATION</h2>
                  <p class="sectionText">
                   Century was established in 1986 with the vision of providing path-breaking solutions in wood and wood-related industries. It took a continuous emphasis on innovation and an intense focus on product quality over the last 3 decades to bring that vision to life. And in that time, as consumer needs diversified, Century grew its range of offerings too. From plywood to laminates, veneers, flooring and exteriors, and engineered wood products.

                    <br />
                    <br />Along the way, we pioneered new technologies for the Indian market and set the bar higher and higher on business standards.

                    <br />
                    <br />Our commitment to R&D is reflected in rising investment in this area, resulting in newer and better products. We were the first to develop Borer Proof and Boiling Water Resistant products. As an organisation too, we are structured flexibly to enable innovation. That’s what it takes to come up with products like Century Prowud - the wood of the future. Or Venlam, our latest offering in the décor segment, which combines the benefits of veneer and laminates. As technology and tastes evolve rapidly, consumers, as well as architects and interior designers, are constantly seeking new solutions. It is our endeavor to ensure that each of them is able to express their individual creativity, in exactly the way that they desire.

                  </p>
                </div>
              </b-col>

              <b-col md="6" class="sectionImageContainer"></b-col>
            </b-row>
          </b-col>
        </b-row>
      </b-container>
    </section>
  </div>
</template>

<script>
export default {
  name: "creating-responsibly",
  mounted() {}
};
</script>