<template>
    <div class="experience">
       <div class="top--banner">
           <div class="banner--writeup">
             <h3 class="century--heading">Century Prowud</h3>
             <h2>
                 Experience
                 <small>Dream it. Build it.</small>
             </h2>
           </div>
        </div>
        <b-container class="exp-card-wrapper">
            <h2 class="section--heading">Experience Century Prowud ?</h2>
            <p class="heading-content">
                Planning to re-do your home, check which Century Prowud solution works best for you. Click on the option and start building. 
            </p>
            <div class="cards--wrapper">
                <template v-for="category in categories[0]">
                    <router-link class="card-link" :to="'/modal/'+ category.slug">
                    <b-card v-bind:title="category.name" v-bind:img-src="category.image" img-alt="Image" img-top tag="card">
                    </b-card>
                    </router-link>
                </template>
            </div>
        </b-container>
    </div>
</template>

<style></style>

<script>
import API_CONFIG from "../store/config";
   export default {
     name: "experience",
     components: {
     },
    data() 
    {
        return {
          categories: "",
        };
    },
    methods: 
    {
        async getcategories() 
        {
          const response = await fetch(
            API_CONFIG.GET_allcategories
          )
          .then(res => res.json())
          .then(data => data);
          if (response.status_code == 200)
          {
            this.categories = [];
            this.categories.push(response.data);
          }
        },
    },
    beforeMount()
    {
      this.getcategories();
    },
  };
</script>