<template>
  <div class="home">
    <carousel class="homepage--slider" :autoplayHoverPause="false" :per-page="1" v-bind:autoplay="true" v-bind:loop="true" v-bind:infinite="true">
      <slide>
        <figure
        class="img-banner"
        :style="{'background-image': 'url(' + require('../assets/img/homepage/slider1.png') + ')'}"
        >
        <figcaption>
          <h3 class="century--heading">Awesome</h3>
          <h2>
            Living Room
            <small>Dream it. Build it.</small>
          </h2>
        </figcaption>
      </figure>
    </slide>
    <slide>
      <figure
      class="img-banner"
      :style="{'background-image': 'url(' + require('../assets/img/homepage/slider2.png') + ')'}"
      >
      <figcaption class="right">
        <h3 class="century--heading">Inspiring</h3>
        <h2>
          Lobby Area
          <small>Dream it. Build it.</small>
        </h2>
      </figcaption>
    </figure>
  </slide>
  <slide>
    <figure
    class="img-banner"
    :style="{'background-image': 'url(' + require('../assets/img/homepage/slider3.png') + ')'}"
    >
    <figcaption class="right">
      <h3 class="century--heading">Beautiful</h3>
      <h2>
        Bedroom
        <small>Dream it. Build it.</small>
      </h2>
    </figcaption>
  </figure>
</slide>
</carousel>
<section class="creating--responsibly">
  <div class="content">
    <h2 class="section--heading">Creating Responsibly</h2>
    <p>The wood for mankind’s future</p>
    <router-link to="/creating-responsibly" class="know--more">Know More</router-link>
  </div>
</section>

<section class="dir--wrapper">
  <div class="container dir-wrap">
    <figure
    class="prod-banner"
    :style="{'background-image': 'url(' + require('../assets/img/homepage/dir.png') + ')'}"
    >
    <button class="trigger--caption"></button>
    <figcaption class="product_desc">
      <div class="plain">
        <p>In India, Century Prowud MDF is the first company, which provides traceable and sustainable MDF product to market at this moment. Century MDF PROWUD, a subsidiary of Century Ply boards India, becomes the first member of Earthworm in MDF product category in early 2019. Earthworm is a global non-profit organization working in more than 16 countries on multiple product categories including engineered wood such as MDF.</p>
        <p>Earthworm approached Century on behalf of one of their member company who is one of the leading retailer in Europe with purpose of identifying traceable and sustainable MDF available in domestic market which is in line with “European Union Timber Regulation” requirements.</p>
        <p>During the visits of Earthworm at Century plant, it was clearly observed that Century sources raw material from Farmers, Traders, Middle man (aadatiya), and Government depot. In the case of direct sourcing from farmers, the company has been maintaining its records required to demonstrate traceability from years now.</p>
      </div>
    </figcaption>
  </figure>
</div>
</section>

<section class="dwr--wrapper">
  <div class="container dwr-wrap">
    <figure
    class="prod-banner"
    :style="{'background-image': 'url(' + require('../assets/img/homepage/dwr.png') + ')'}"
    >
    <button class="trigger--caption">
    </button>
    <figcaption class="product_desc">
      <div class="plain">
        <h2 class="section--heading">Plain</h2>
        <p>Densified Water Resistant (IS Grade 1): Its densified structure is forged with moisture fighting properties which make them suitable for varied and prolonged application in damp conditions...</p>
        <router-link to="/mdf" class="know--more">Know More</router-link>
      </div>
    </figcaption>
  </figure>
</div>
</section>


<section class="explore--modal" id="exporeModal">
  <b-container fluid class="explore--container">
   <div class="row row-no-gutter">
    <div class="col-md-6">
      <b-carousel id="myCarousel" ref="myCarousel" :interval="0">
        <b-carousel-slide class="item active" data-menu_name="Acacia-1" :style="{'background-image': 'url(' + require('../assets/img/homepage/premiumplus.png') + ')'}" ></b-carousel-slide>
        <b-carousel-slide class="item" data-menu_name="Acacia-2" :style="{'background-image': 'url(' + require('../assets/img/homepage/premiumplus.png') + ')'}" ></b-carousel-slide>
        <b-carousel-slide class="item" data-menu_name="Acacia-3" :style="{'background-image': 'url(' + require('../assets/img/homepage/premiumplus.png') + ')'}" ></b-carousel-slide>
        <b-carousel-slide class="item" data-menu_name="Acacia-4" :style="{'background-image': 'url(' + require('../assets/img/homepage/premiumplus.png') + ')'}" ></b-carousel-slide>
        <b-carousel-slide class="item" data-menu_name="Acacia-5" :style="{'background-image': 'url(' + require('../assets/img/homepage/premiumplus.png') + ')'}" ></b-carousel-slide>
        <b-carousel-slide class="item" data-menu_name="Acacia-6" :style="{'background-image': 'url(' + require('../assets/img/homepage/premiumplus.png') + ')'}" ></b-carousel-slide>
        <b-carousel-slide class="item" data-menu_name="Acacia-7" :style="{'background-image': 'url(' + require('../assets/img/homepage/premiumplus.png') + ')'}" ></b-carousel-slide>
        <b-carousel-slide class="item" data-menu_name="Acacia-8" :style="{'background-image': 'url(' + require('../assets/img/homepage/premiumplus.png') + ')'}" ></b-carousel-slide>
        <b-carousel-slide class="item" data-menu_name="Acacia-9" :style="{'background-image': 'url(' + require('../assets/img/homepage/premiumplus.png') + ')'}" ></b-carousel-slide>
        <b-carousel-slide class="item" data-menu_name="Acacia-10" :style="{'background-image': 'url(' + require('../assets/img/homepage/premiumplus.png') + ')'}" ></b-carousel-slide>
        <b-carousel-slide class="item" data-menu_name="Acacia-11" :style="{'background-image': 'url(' + require('../assets/img/homepage/premiumplus.png') + ')'}" ></b-carousel-slide>
        <b-carousel-slide class="item" data-menu_name="Acacia-12" :style="{'background-image': 'url(' + require('../assets/img/homepage/premiumplus.png') + ')'}" ></b-carousel-slide>
        <b-carousel-slide class="item" data-menu_name="Acacia-13" :style="{'background-image': 'url(' + require('../assets/img/homepage/premiumplus.png') + ')'}" ></b-carousel-slide>
        <b-carousel-slide class="item" data-menu_name="Acacia-14" :style="{'background-image': 'url(' + require('../assets/img/homepage/premiumplus.png') + ')'}" ></b-carousel-slide>
        <b-carousel-slide class="item" data-menu_name="Acacia-15" :style="{'background-image': 'url(' + require('../assets/img/homepage/premiumplus.png') + ')'}" ></b-carousel-slide>
        <b-carousel-slide class="item" data-menu_name="Acacia-16" :style="{'background-image': 'url(' + require('../assets/img/homepage/premiumplus.png') + ')'}" ></b-carousel-slide>
        <b-carousel-slide class="item" data-menu_name="Acacia-17" :style="{'background-image': 'url(' + require('../assets/img/homepage/premiumplus.png') + ')'}" ></b-carousel-slide>
        <b-carousel-slide class="item" data-menu_name="Acacia-18" :style="{'background-image': 'url(' + require('../assets/img/homepage/premiumplus.png') + ')'}" ></b-carousel-slide>
        <b-carousel-slide class="item" data-menu_name="Acacia-19" :style="{'background-image': 'url(' + require('../assets/img/homepage/premiumplus.png') + ')'}" ></b-carousel-slide>
        <b-carousel-slide class="item" data-menu_name="Acacia-20" :style="{'background-image': 'url(' + require('../assets/img/homepage/premiumplus.png') + ')'}" ></b-carousel-slide>
        <b-carousel-slide class="item" data-menu_name="Acacia-21" :style="{'background-image': 'url(' + require('../assets/img/homepage/premiumplus.png') + ')'}" ></b-carousel-slide>
        <b-carousel-slide class="item" data-menu_name="Acacia-22" :style="{'background-image': 'url(' + require('../assets/img/homepage/premiumplus.png') + ')'}" ></b-carousel-slide>
        <b-carousel-slide class="item" data-menu_name="Acacia-23" :style="{'background-image': 'url(' + require('../assets/img/homepage/premiumplus.png') + ')'}" ></b-carousel-slide>
        <b-carousel-slide class="item" data-menu_name="Acacia-24" :style="{'background-image': 'url(' + require('../assets/img/homepage/premiumplus.png') + ')'}" ></b-carousel-slide>
      </b-carousel>
    </div>
    <div class="col-md-6 menu--section">
     <h2 class="section--heading">Explore</h2>
     <ul class="menu" width="300"></ul>
   </div>
 </div>
</b-container>
</section>

<section class="why_prowud_wrapper">
  <b-container>
    <h2 class="section--heading">Why Century Prowud ?</h2>
    <div class="why__prowud__pointers">
      <b-card no-body>
        <b-tabs pills card vertical nav-wrapper-class="w-50">
          <b-tab class="tab1" title="Uniform & High Density" active>
            <b-card-text>
              <h3>Uniform & High Density</h3>
              <p>Century Prowud boards are very compact with uniform fiber density throughout. Their homogeneous construction makes them suitable for consistent applications</p>
            </b-card-text>
          </b-tab>
          <b-tab class="tab2" title="Scalper Technology">
            <b-card-text>
              <h3>Scalper Technology</h3>
              <p>Stringent manufacturing standards and the latest equipment make these boards technically superior. The boards undergo 128 points quality check during the manufacturing, to ensure unmatched product quality.</p>
            </b-card-text>
          </b-tab>
          <b-tab class="tab3" title="Super Smooth">
            <b-card-text>
              <h3>Super Smooth</h3>
              <p>Century Prowud Boards have super smooth surfaces, making application of paint easier. The smooth surface, free from knots and foreign particles, is a perfect substrate for laminates or veneers</p>
            </b-card-text>
          </b-tab>
          <b-tab class="tab4" title="Heat & Humidity Resistant">
            <b-card-text>
              <h3>Heat & Humidity Resistant</h3>
              <p>These boards are very durable with high resistance to adverse environments like heat and humidity. Their high resistance makes them suitable for all locations and applications such as kitchen cabinets, wall paneling on external walls etc,.</p>
            </b-card-text>
          </b-tab>
          <b-tab class="tab5" title="Cost Effective">
            <b-card-text>
              <h3>Cost Effective</h3>
              <p>Century Prowud is suitable for diverse applications. It is formable, chipping-free, easily molded, and cost-effective, making it a highly sought after product in the interior solutions industry.</p>
            </b-card-text>
          </b-tab>
          <b-tab class="tab6" title="Borer & Termite Resistant">
            <b-card-text>
              <h3>Borer & Termite Resistant</h3>
              <p>Century Prowud Boards are highly resistant to termites and borers, ensuring greater durability</p>
            </b-card-text>
          </b-tab>
        </b-tabs>
      </b-card>
    </div>
  </b-container>
</section>

    <!-- <section class="experience--wrapper">
      <div class="experience-tabs">
        <h2 class="section--heading">Experience Century Prowud</h2>
        <b-card no-body>
          <b-tabs pills card end>
            <template v-for="(product,index) in products[0]">
              <template v-if="index == 0">
                 <b-tab active>
                <template v-slot:title>
                  <img :src="product.smallimage" alt />
                </template>
                 <figure
                  class="exp-banner" v-bind:style="{ backgroundImage: 'url(' + product.largeimage + ')' }"
                ></figure>
                </b-tab>
              </template>
              <template v-else>
                 <b-tab>
                <template v-slot:title>
                  <img :src="product.smallimage" alt />
                </template>
                 <figure
                  class="exp-banner" v-bind:style="{ backgroundImage: 'url(' + product.largeimage + ')' }"
                ></figure>
                </b-tab>
              </template>
            </template>
          </b-tabs>
        </b-card>
      </div>
    </section> -->
  </div>
</template>

<style scopped>
  .menu {
    position: absolute;
    height: 100vh;
    display: block;
    right: 0;
    transition: all 0.5s ease;
  }

  .menu--section {
   background: #040d12;
   height: 100vh;
   position: relative;
 }

 .menu--section h2.section--heading {
   color: #fff;
   position: absolute;
   top: 40px;
   left: 40px;
 }

 .menu--section h2.section--heading:after {
   width: 140px;
 }

 .menu div.extremes-div {
  transform-origin: 0px 50%;
  padding: 0px 0px 0px 60px;
  position: absolute;
  top: 50%;
  left: 50%;
  white-space: nowrap;
  width: 118px;
  height: 34px;
}

.menu div.extremes-inner {
  transform-origin: 50% 50%;
  position: absolute;
}

.menu li {
  list-style-type: none;
}

.menu li a {
  text-decoration: none;
}

.menu li.meter-niddle {
  float: left;
}

.menu li.meter-niddle:after {
  position: absolute;
  content: "";
  border: 1px solid #3333;
  width: 15px;
  top: 30px;
}

.menu li.left-meter-niddle:after {
  right: -25px;
}

.menu li.right-meter-niddle:after {
  left: -25px;
}

ul.menu:after {
  border: 1px solid #3333;
  content: "";
  position: absolute;
  left: 50%;
  top: 55%;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}

ul.menu:before {
  border: 2px dotted #3333;
  content: "";
  position: absolute;
  left: 50%;
  top: 55%;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}

.extremes-inner:before {
  content: "";
  position: absolute;
  right: 15px;
  border: 1px solid #333;
  width: 20px;
  top: -70%;
}

.left-extremes-inner:before {
  right: 15px;
}

.right-extremes-inner:before {
  left: 15px;
}
.item {
  height: 100vh;
  background-position: center center;
  background-size: cover;
}
#menu {
  position: relative;
  width: 230px;
  margin: 0px auto;
  top: 100px;
  left: 37px;
}

.faux-shadow {
  position: absolute;
  width: 250px;
  height: 250px;
  top: 0px;
  left: 0px;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.3);
  border-radius: 300px;
  -webkit-transition: all 0.4s linear;
  -moz-transition: all 0.4s linear;
  -ms-transition: all 0.4s linear;
  -o-transition: all 0.4s linear;
  transition: all 0.4s linear;
  z-index: -9999;
}

#on-check:checked ~ .faux-shadow {
  width: 250px;
  height: 250px;
  top: -75px;
  left: -60px;
}

#menu #on-check:not(:checked) ~ .info {
  opacity: 0;
}

#menu #on-check:checked ~ .info {
  -webkit-transition: all 0.2s linear 0.4s;
  -moz-transition: all 0.2s linear 0.4s;
  -ms-transition: all 0.2s linear 0.4s;
  -o-transition: all 0.2s linear 0.4s;
  transition: all 0.2s linear 0.4s;
}

#on-check:checked ~ #menu-items {
  width: 250px;
  height: 250px;
  left: -60px;
  top: -75px;
}

#menu-items {
  width: 150px;
  height: 150px;
  border-radius: 100%;
  background: rgba(255, 255, 255, 0.4);
  position: absolute;
  top: 0;
  left: 0;
  z-index: -99;
  overflow: hidden;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  -webkit-transition: all 0.4s linear;
  -moz-transition: all 0.4s linear;
  -ms-transition: all 0.4s linear;
  -o-transition: all 0.4s linear;
  transition: all 0.4s linear;
}

#menu-items .top,
#menu-items .bottom {
  width: 100%;
  float: left;
  z-index: 1;
  height: 50%;
}

#menu-items .bottom {
  top: 50%;
}

#menu-items .middle {
  height: 100%;
  white-space: nowrap;
}

#menu-items label {
  position: absolute;
  z-index: 9999999;
  font-size: 2em;
  border-radius: 5px;
  cursor: pointer;
  text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.1);
}

#menu-items label:hover {
  text-shadow: 0 0 15px #a6d8f4;
}

#menu .info {
  opacity: 0;
  position: absolute;
  right: -225px;
  top: -63px;
  display: inline-block;
  background-color: #d2d2d2;
  padding: 10px;
  color: #343434;
  z-index: 9999999;
  font: normal normal 1.5em Arial, sans-serif;
  background: #4aacc5;
  border: 1px solid #ddd;
  font-weight: normal;
  border-radius: 8px;
  width: 200px;
}

.explore--modal .container-fluid [class*="col-"] {
 padding: 0;
}

</style>

<script>
  import API_CONFIG from "../store/config";

  import { Carousel, Slide } from "vue-carousel";
  import JQuery from 'jquery'
  let $ = JQuery
  export default {
    name: "home",
    components: {
      Carousel,
      Slide
    },
    data() {
      return {
        isCaptionOpen: false,
        products: "",
      };
    },
    methods: {
      goToSlide(slide) {
        this.$refs.myCarousel.setSlide(slide);
      },
      async getallproducts() 
      {
        const response = await fetch(
          API_CONFIG.GET_allproducts
          )
        .then(res => res.json())
        .then(data => data);
        if (response.status_code == 200)
        {
          this.products = [];
          this.products.push(response.data);
          console.log(this.products)
        }
      },
    },
    beforeMount()
    {
      this.getallproducts();
    },
    mounted() {
      var componentRef = this;
      document.querySelectorAll(".trigger--caption").forEach(ele => {
        ele.addEventListener("click", function() {
          if (this.classList.contains("openCaption")) {
            this.nextSibling.style.right = "-45%";
            this.nextSibling.style.transitionDuration = "0.7s";
            this.classList.remove("openCaption");
          } else {
            this.nextSibling.style.right = "0";
            this.nextSibling.style.transitionDuration = "0.7s";
            this.classList.add("openCaption");
          }
        });
      });

      var circleHeight = $(".menu").attr("width");
      var htmlStyle = '<style type="text/css">';
      htmlStyle +=
      " .menu:after{ height:" +
      circleHeight +
      "px;width: " +
      circleHeight +
      "px;}.menu:before{ height:" +
      (circleHeight - 50) +
      "px;width: " +
      (circleHeight - 50) +
      "px;} ";
      htmlStyle += "</style>";
      $("head").append(htmlStyle);

      var padding = circleHeight / 2 + 25;
      var slideItems = $(".carousel-inner .item");
      var slideCount = slideItems.length;
      slideItems.each(function(index) {
        var menuName = $(this).data("menu_name");
        var active = "";

        if (index == 0) {
          active = "active";
        }
        var menuItemHtml =
        `<div class="extremes-div ` +
        active +
        `">
        <div class="extremes-inner">
        <li class="meter-niddle">
        <a href="JavaScript:void(0);">` +
        menuName +
        `</a>
        </li>
        </div>
        </div>`;

        $(".menu").append(menuItemHtml);
      });
      var elementItems = $(".menu div.extremes-div");
      elementItems.css({ padding: "0px 0px 0px " + padding + "px" });
      var elementCount = elementItems.length;
      var degSpace = 360 / elementCount;
      var leftdegSpace = 0;
      var starRotate = 180;
      var rotate = starRotate;
      if (elementCount <= 9) {
        degSpace = 20;
        leftdegSpace = 20;
      }

      var rightRotate = starRotate;
      var leftRotate = starRotate - degSpace;
      elementItems.each(function(index) {
        $(this).attr("data-image", index);

        if (index % 2 == 0) {
          $(this).attr("id", rightRotate);
          $(this).css({ transform: "rotate(" + rightRotate + "deg)" });
          if (rightRotate <= 270 || rightRotate >= 450) {
            $(this)
            .children("div.extremes-inner")
            .css({ transform: "rotate(" + starRotate + "deg)" });
            $(this)
            .children("div.extremes-inner")
            .children("li")
            .addClass("left-meter-niddle");
            $(this)
            .children("div.extremes-inner")
            .children("li")
            .removeClass("right-meter-niddle");
            $(this)
            .children("div.extremes-inner")
            .addClass("left-extremes-inner");
            $(this)
            .children("div.extremes-inner")
            .removeClass("right-extremes-inner");
          } else {
            $(this)
            .children("div.extremes-inner")
            .children("li")
            .addClass("right-meter-niddle");
            $(this)
            .children("div.extremes-inner")
            .children("li")
            .removeClass("left-meter-niddle");
            $(this)
            .children("div.extremes-inner")
            .addClass("right-extremes-inner");
            $(this)
            .children("div.extremes-inner")
            .removeClass("left-extremes-inner");
          }
          rightRotate = rightRotate + degSpace;
        } else {
          $(this).attr("id", leftRotate);
          $(this).css({ transform: "rotate(" + leftRotate + "deg)" });
          if (leftRotate <= 270 || leftRotate >= 450) {
            $(this)
            .children("div.extremes-inner")
            .css({ transform: "rotate(" + starRotate + "deg)" });
            $(this)
            .children("div.extremes-inner")
            .children("li")
            .addClass("left-meter-niddle");
            $(this)
            .children("div.extremes-inner")
            .children("li")
            .removeClass("right-meter-niddle");
            $(this)
            .children("div.extremes-inner")
            .addClass("left-extremes-inner");
            $(this)
            .children("div.extremes-inner")
            .removeClass("right-extremes-inner");
          } else {
            $(this)
            .children("div.extremes-inner")
            .children("li")
            .addClass("right-meter-niddle");
            $(this)
            .children("div.extremes-inner")
            .children("li")
            .removeClass("left-meter-niddle");
            $(this)
            .children("div.extremes-inner")
            .addClass("right-extremes-inner");
            $(this)
            .children("div.extremes-inner")
            .removeClass("left-extremes-inner");
          }
          leftRotate = leftRotate - degSpace;
        }
      });

      $("div.extremes-inner").click(function() {
        $("div.extremes-div").removeClass("active");
        $(this)
        .parent()
        .addClass("active");

        var image = $(this)
        .parent()
        .data("image");
        componentRef.goToSlide(image);
        var id = $(this)
        .parent()
        .attr("id");
        var rotate = 180 - id;
        var starRotate = 180;
        $(this)
        .parent()
        .parent()
        .css({ transform: "rotate(" + rotate + "deg)" });
        if (rotate <= 270 || rotate >= 450) {
          $("div.extremes-inner").css({
            transform: "rotate(" + starRotate + "deg)"
          });
          $("div.extremes-inner")
          .children("li")
          .addClass("left-meter-niddle");
          $("div.extremes-inner")
          .children("li")
          .removeClass("right-meter-niddle");
          $("div.extremes-inner").addClass("left-extremes-inner");
          $("div.extremes-inner").removeClass("right-extremes-inner");
        } else {
          $("#myCarousel").carousel("next");
          $("div.extremes-inner")
          .children("li")
          .addClass("right-meter-niddle");
          $("div.extremes-inner")
          .children("li")
          .removeClass("left-meter-niddle");
          $("div.extremes-inner").addClass("right-extremes-inner");
          $("div.extremes-inner").removeClass("left-extremes-inner");
        }

        rotate = rotate + degSpace;
      });

    // Enable Carousel Controls
    $(".left").click(function() {
      var ele = $("div.extremes-div.active");
      ele.removeClass("active");
      ele.prev().addClass("active");

      var id = ele.prev().attr("id");
      var rotate = 180 - id;
      var starRotate = 180;
      ele.parent().css({ transform: "rotate(" + rotate + "deg)" });
      if (rotate <= 270 || rotate >= 450) {
        $("div.extremes-inner").css({
          transform: "rotate(" + starRotate + "deg)"
        });
        $("div.extremes-inner")
        .children("li")
        .addClass("left-meter-niddle");
        $("div.extremes-inner")
        .children("li")
        .removeClass("right-meter-niddle");
        $("div.extremes-inner").addClass("left-extremes-inner");
        $("div.extremes-inner").removeClass("right-extremes-inner");
      } else {
        $("div.extremes-inner")
        .children("li")
        .addClass("right-meter-niddle");
        $("div.extremes-inner")
        .children("li")
        .removeClass("left-meter-niddle");
        $("div.extremes-inner").addClass("right-extremes-inner");
        $("div.extremes-inner").removeClass("left-extremes-inner");
      }

      rotate = rotate + degSpace;
    });
    $(".right").click(function() {
      var ele = $("div.extremes-div.active");
      ele.removeClass("active");
      ele.next().addClass("active");

      var id = ele.next().attr("id");
      var rotate = 180 - id;
      var starRotate = 180;
      ele.parent().css({ transform: "rotate(" + rotate + "deg)" });
      if (rotate <= 270 || rotate >= 450) {
        $("div.extremes-inner").css({
          transform: "rotate(" + starRotate + "deg)"
        });
        $("div.extremes-inner")
        .children("li")
        .addClass("left-meter-niddle");
        $("div.extremes-inner")
        .children("li")
        .removeClass("right-meter-niddle");
        $("div.extremes-inner").addClass("left-extremes-inner");
        $("div.extremes-inner").removeClass("right-extremes-inner");
      } else {
        $("div.extremes-inner")
        .children("li")
        .addClass("right-meter-niddle");
        $("div.extremes-inner")
        .children("li")
        .removeClass("left-meter-niddle");
        $("div.extremes-inner").addClass("right-extremes-inner");
        $("div.extremes-inner").removeClass("left-extremes-inner");
      }

      rotate = rotate + degSpace;
    });

    var currentRotatePosition = 0;
    var currentDegree = 0;
    function rotateTo(newPosition) {
      alert("ff");
      var shift = 0;
      switch (currentRotatePosition) {
        case 0:
        switch (newPosition) {
          case 1:
          shift = 72 * 4;
          break;
          case 2:
          shift = 72 * 3;
          break;
          case 3:
          shift = 72 * 2;
          break;
          case 4:
          shift = 72 * 1;
          break;
          default:
          break;
        }
        break;
        case 1:
        switch (newPosition) {
          case 0:
          shift = 72 * 1;
          break;
          case 2:
          shift = 72 * 4;
          break;
          case 3:
          shift = 72 * 3;
          break;
          case 4:
          shift = 72 * 2;
          break;
          default:
          break;
        }
        break;
        case 2:
        switch (newPosition) {
          case 0:
          shift = 72 * 2;
          break;
          case 1:
          shift = 72 * 1;
          break;
          case 3:
          shift = 72 * 4;
          break;
          case 4:
          shift = 72 * 3;
          break;
          default:
          break;
        }
        break;
        case 3:
        switch (newPosition) {
          case 4:
          shift = 72 * 4;
          break;
          case 0:
          shift = 72 * 3;
          break;
          case 1:
          shift = 72 * 2;
          break;
          case 2:
          shift = 72 * 1;
          break;
          default:
          break;
        }
        break;
        case 4:
        switch (newPosition) {
          case 0:
          shift = 72 * 4;
          break;
          case 1:
          shift = 72 * 3;
          break;
          case 2:
          shift = 72 * 2;
          break;
          case 3:
          shift = 72 * 1;
          break;
          default:
          break;
        }
        break;
        default:
        break;
      }
      currentRotatePosition = newPosition;
      currentDegree += shift;

      $("#menu-items, #menu-items .bottom .ss-refresh").css({
        "-webkit-transform": "rotateZ(" + currentDegree + "deg)",
        "-moz-transform": "rotateZ(" + currentDegree + "deg)",
        "-ms-transform": "rotateZ(" + currentDegree + "deg)",
        "-o-transform": "rotateZ(" + currentDegree + "deg)",
        transform: "rotateZ(" + currentDegree + "deg)"
      });
    }
  }
};
</script>