<template>
   <div class="MDF">
      <section class="heroSection">
         <b-container>
            <b-row class="justify-content-end align-items-center">
               <b-col md="12">
                  <div class="heroHeading">
                      <h3 class="century--heading">DIR - DWR</h3>
                      <h2>MDF</h2>
                  </div>
               </b-col>
            </b-row>
         </b-container>
      </section>
      <section class="tabsSection">
         <b-container>
            <b-row class="justify-content-center align-items-center">
               <b-col md="12" class="contentContainer dirBG" id="changeBG">
                  <b-row class="justify-content-end align-items-center">
                     <b-col md="6" class="sectionContentContainer">
                        <div class="sectionContent">
                           <div class="tabs">
                              <input type="radio" id="tab1" name="tab-control" checked />
                              <input type="radio" id="tab2" name="tab-control" />
                              <ul class="titleList">
                                 <li title="tabOne">
                                    <label
                                       for="tab1"
                                       role="button"
                                       class="DIRBtn"
                                       id="btnDIR"
                                       >
                                    <img src="../assets/img/logo/dir.png" alt="DIR" style="height: 80px;" />
                                    </label>
                                 </li>
                                 <li title="tabTwo">
                                    <label
                                       for="tab2"
                                       role="button"
                                       class="DWRBtn"
                                       id="btnDWR"
                                       >
                                    <img src="../assets/img/logo/dwr.png" alt="DWR" style="height: 80px;" />
                                    </label>
                                 </li>
                              </ul>
                              <div class="content">
                                 <div class="theTabs tabOne">
                                    <!-- INSIDE TABS -->
                                    <b-tabs pills>
                                       <b-tab title="Plain" active>
                                          <b-card-text>
                                             <p class="productDetails">
                                                Densified Interior Range (IS Grade 2): Super grade range for diverse applications in the interiors. Both grades are available in Plain and Pre-laminated MDF
                                             </p>
                                             <div class="productDimension common">
                                                <div class="title">STANDARD SIZE</div>
                                                <div class="dimension">
                                                   8ft x 4ft (2440mm x 1220mm); Other variants available as per specifications
                                                </div>
                                             </div>
                                             <div class="productThickness common">
                                                <div class="title">
                                                   THICKNESS
                                                   <span class="small">(mm)</span>
                                                </div>
                                                <div class="thickness">
                                                   2.1, 3.4, 3.0, 4.6, 5.5, 7.0, 7.5, 8.0, 9.75, 11.0, 12.0, 14.75, 16.0, 16.75, 17.0, 18.0, 25.0, 30.0, 35.0
                                                </div>
                                             </div>
                                             <div class="productVariants common">
                                                <div class="title">varient</div>
                                                <div class="variant">Plain & Prelam</div>
                                             </div>
                                          </b-card-text>
                                       </b-tab>
                                       <b-tab title="Prelam">
                                          <b-card-text>
                                             <p class="productDetails">
                                                Century Prelam DIR boards are manufactured from High-quality plain Century Prowud MDF DIR boards and the latest international decorative papers. The plain DIR boards are laminated on single or both sides with specially-formulated MF resins, under the influence of heat and pressure on fully-automated advance machines. The Decorative papers are sourced from renowned international laminate manufacturer. Century Prelam boards have a wide range of shades in pastel and wood grain designs to suit your needs.
                                             </p>
                                             <div class="productDimension common">
                                                <div class="title">STANDARD SIZE</div>
                                                <div class="dimension">
                                                   8ft x 4ft (2440mm x 1220mm); Other variants available as per specifications
                                                </div>
                                             </div>
                                             <div class="productThickness common">
                                                <div class="title">
                                                   THICKNESS
                                                   <span class="small">(mm)</span>
                                                </div>
                                                <div class="thickness">
                                                   3 5.5, 7.0, 7.5, 8.0, 9.75, 11.0, 12.0, 14.75, 16.0, 16.75, 17.0, 18.0, 25.0, 30.0, 35.0
                                                </div>
                                             </div>
                                             <div class="productVarients common">
                                                <div class="title">varient</div>
                                                <div class="varient">Plain & Prelam</div>
                                             </div>
                                          </b-card-text>
                                       </b-tab>
                                    </b-tabs>
                                    <!-- INSIDE TABS -->
                                 </div>
                                 <div class="theTabs tabTwo">
                                    <!-- INSIDE TABS -->
                                    <b-tabs pills>
                                       <b-tab title="Plain" active>
                                          <b-card-text>
                                             <p class="productDetails">
                                                Densified Water Resistant (IS Grade 1): Its densified structure is forged with moisture fighting properties which make them suitable for varied and prolonged application in damp conditions. Its densified structure is forged with moisture fighting properties which make them suitable for varied and prolonged application in damp conditions.
                                             </p>
                                             <div class="productDimension common">
                                                <div class="title">STANDARD SIZE</div>
                                                <div class="dimension">
                                                   8ft x 4ft (2440mm x 1220mm); Other variants available as per specifications
                                                </div>
                                             </div>
                                             <div class="productThickness common">
                                                <div class="title">
                                                   THICKNESS
                                                   <span class="small">(mm)</span>
                                                </div>
                                                <div class="thickness">
                                                   3.0, 3.4, 5.5, 7.5, 8.0, 11.0, 12.0, 14.75, 16.75, 17.0, 18.0, 25.0, 30.0, 35.0
                                                </div>
                                             </div>
                                             <div class="productVarients common">
                                                <div class="title">varient</div>
                                                <div class="varient"> Plain & Prelam</div>
                                             </div>
                                          </b-card-text>
                                       </b-tab>
                                       <b-tab title="Prelam">
                                          <b-card-text>
                                             <p class="productDetails">
                                                Century Prelam DWR boards are manufactured from High-quality plain Century Prowud MDF DWR boards and the latest international decorative papers. The plain DWR boards are laminated on single or both sides with specially-formulated MF resins, under the influence of heat and pressure on fully-automated advance machines. The Decorative papers are sourced from renowned international laminate manufacturer. Century Prelam boards have a wide range of shades in pastel and wood grain designs to suit your needs.
                                                .
                                             </p>
                                             <div class="productDimension common">
                                                <div class="title">STANDARD SIZE</div>
                                                <div class="dimension">
                                                   8ft x 4ft (2440mm x 1220mm); Other variants available as per specifications
                                                </div>
                                             </div>
                                             <div class="productThickness common">
                                                <div class="title">
                                                   THICKNESS
                                                   <span class="small">(mm)</span>
                                                </div>
                                                <div class="thickness">
                                                   5.5, 7.0, 7.5, 8.0, 9.75, 11.0, 12.0, 14.75, 16.0, 16.75, 17.0, 18.0, 25.0, 30.0, 35.0
                                                </div>
                                             </div>
                                             <div class="productVarients common">
                                                <div class="title">varient</div>
                                                <div class="varient">Plain & Prelam</div>
                                             </div>
                                          </b-card-text>
                                       </b-tab>
                                    </b-tabs>
                                    <!-- INSIDE TABS -->
                                 </div>
                              </div>
                           </div>
                        </div>
                     </b-col>
                  </b-row>
               </b-col>
            </b-row>
         </b-container>
      </section>
   </div>
</template>
<script>
   export default {
     name: "mdf",
     mounted() {
        document.getElementById('btnDIR').addEventListener('click', function () {
         var backGround = document.getElementById("changeBG");
           backGround.classList.add('dirBG');
           backGround.classList.remove('dwrBG');
       })
   
       document.getElementById('btnDWR').addEventListener('click', function () {
         var backGround = document.getElementById("changeBG");
           backGround.classList.add('dwrBG');
           backGround.classList.remove('dirBG');
       })
     }
   };
</script>