<template>
    <div class="product_">
        <div class="top--banner">
           <div class="banner--writeup">
             <h3 class="century--heading">Century Prowud</h3>
             <h2>
                 Experience
                 <small>Dream it. Build it.</small>
             </h2>
           </div>
        </div>
        <section class="main--desc">
            <div class="product_description">
                <h3 class="product-heading">Create your dream kitchen</h3>
                <p class="product-desc">
                    It is simple. Just click on the objects and choose the prowud panel that goes best with the schema
                </p>
            </div>
        </section>
        <section class="more-options">
          <b-container class="options__wrapper">
            <div class="cards--wrapper">
               <template v-for="modal in modals[0]">
                    <router-link class="card-link" :to="'/product/'+ modal.slug">
                    <b-card v-bind:title="modal.name" v-bind:img-src="modal.image" img-alt="Image" img-top tag="card">
                    </b-card>
                    </router-link>
                </template>
            </div>
          </b-container>
      </section>
    </div>
</template>

<script>
import API_CONFIG from "../store/config";

  export default {
     name: "modal",
     components: {
     },
    data() 
    {
        return {
          modals: "",
        };
    },
    methods: 
    {
        async getmodals() 
        {
          const response = await fetch(
            API_CONFIG.GET_allmodals+'/'+this.slug
          )
          .then(res => res.json())
          .then(data => data);
          if (response.status_code == 200)
          {
            this.modals = [];
            this.modals.push(response.data);
            
            console.log(response.data[0].categoryId)

          }
        },
    },
    beforeMount()
    {
      this.getmodals();
    },
    watch: 
    {
      "$route.params.slug"() 
      {
        this.slug = this.$route.params.slug;
        this.getmodals();
      }
    },
    created() 
    {
      (this.slug = this.$route.params.slug)
    },
   };

// export default 
// {
//   name: "modal",
//   components: {},
//   data() {
//     return {
//       slug: "",
//     };
//   },
//   methods: 
//   {
//     async getmodals() 
//     { 
//       console.log(this.slug)
//     },
//     beforeMount()
//     {
//       this.getmodals();
//       console.log("here")
//     },
//   },
//   // watch: {
//   //   "$route.params.slug"() {
//   //     this.slug = this.$route.params.slug;
//   //     this.getmodals();
//   //   }
//   // },
//   // created() {
//   //   (this.slug = this.$route.params.slug)
//   // },
// };
</script>