<template>
   <div class="PP">
      <section class="heroSection">
         <b-container>
            <b-row class="justify-content-end align-items-center">
               <b-col md="12">
                  <div class="heroHeading">
                     <h3 class="century--heading">Premium</h3>
                     <h2>Plus</h2>
                  </div>
               </b-col>
            </b-row>
         </b-container>
      </section>
      <section class="tabsSection">
         <b-container>
            <b-row class="justify-content-center align-items-center">
               <b-col md="12" class="contentContainer dirBG" id="changeBG">
                  <b-row class="justify-content-end align-items-center">
                     <b-col md="6" class="sectionContentContainer">
                        <div class="sectionContent">
                           <div class="tabs">
                              <input type="radio" id="tab1" name="tab-control" checked />
                              <ul class="titleList">
                                 <li title="tabOne">
                                    <label
                                       for="tab1"
                                       role="button"
                                       class="DIRBtn"
                                       id="btnDIR"
                                       onclick="changeBgDIR1()"
                                       >
                                    <img src="../assets/img/logo/premiumplus.png" alt="PP" style="height: 80px;" />
                                    </label>
                                 </li>
                              </ul>
                              <div class="content">
                                 <div class="theTabs tabOne">
                                    <!-- INSIDE TABS -->
                                    <b-tabs pills>
                                       <b-tab title="Plain" active>
                                          <b-card-text>
                                             <p class="productDetails">
                                                The product that fulfills almost every criteria any customer could ask for. From being Borer, Termite and Fungus Resistant to High Moisture resistant, this is an unmatched Routing Grade Product made with a Higher Density, and to a higher standard. Century Prowud Premium Plus even has the confidence to offer an unparalleled 5-Year Warranty on it! Perfect for creating durable furniture of all shapes and sizes, as well as stunning interiors of every design, Century Prowud Premium Plus is unlike any other Product because of the quality of the fibre it’s made of!
                                             </p>
                                             <div class="productDimension common">
                                                <div class="title">STANDARD SIZE</div>
                                                <div class="dimension">
                                                   8ft x 4ft (2440mm x 1220mm); Other variants available as per specifications
                                                </div>
                                             </div>
                                             <div class="productThickness common">
                                                <div class="title">
                                                   THICKNESS
                                                   <span class="small">(mm)</span>
                                                </div>
                                                <div class="thickness">
                                                   5.5, 8.0, 12.0, 16.0, 16.75, 18.0
                                                </div>
                                             </div>
                                             <div class="productVarients common">
                                                <div class="title">varient</div>
                                                <div class="varient">Plain & Prelam</div>
                                             </div>
                                          </b-card-text>
                                       </b-tab>
                                       <b-tab title="Prelam">
                                          <b-card-text>
                                             <p class="productDetails">
                                                Century Prelam Premium Plus boards are manufactured from High-quality plain Century Prowud Premium Plus boards and the latest international decorative papers. The plain Premium Plus boards are laminated on single or both sides with specially-formulated MF resins, under the influence of heat and pressure on fully-automated advance machines. The Decorative papers are sourced from renowned international laminate manufacturer. Century Prelam Premium Plus boards have a wide range of shades in pastel and wood grain designs to suit your needs.
                                             </p>
                                             <div class="productDimension common">
                                                <div class="title">STANDARD SIZE</div>
                                                <div class="dimension">
                                                   8ft x 4ft (2440mm x 1220mm); Other variants available as per specifications
                                                </div>
                                             </div>
                                             <div class="productThickness common">
                                                <div class="title">
                                                   THICKNESS
                                                   <span class="small">(mm)</span>
                                                </div>
                                                <div class="thickness">
                                                   5.5, 8.0, 12.0, 16.0, 16.75, 18.0
                                                </div>
                                             </div>
                                             <div class="productVarients common">
                                                <div class="title">varient</div>
                                                <div class="varient">Plain & Prelam</div>
                                             </div>
                                          </b-card-text>
                                       </b-tab>
                                    </b-tabs>
                                    <!-- INSIDE TABS -->
                                 </div>
                              </div>
                           </div>
                        </div>
                     </b-col>
                  </b-row>
               </b-col>
            </b-row>
         </b-container>
      </section>
      <section class="premiumplus--features">
         <b-container>
            <h2 class="section--heading">Features</h2>
            <div class="why__premiumplus">
               <b-card no-body>
                  <b-tabs pills card vertical nav-wrapper-class="w-50">
                     <b-tab class="tab1" title="5 Year Warranty" active>
                        <b-card-text>
                           <h3>5 Year Warranty</h3>
                           <p>Century Prowud boards are very compact with uniform fiber density throughout. Their homogeneous construction makes them suitable for consistent applications</p>
                        </b-card-text>
                     </b-tab>
                     <b-tab class="tab2" title="Super Tough">
                        <b-card-text>
                           <h3>Super Tough</h3>
                           <p>Stringent manufacturing standards and the latest equipment make these boards technically superior. The boards undergo 128 points quality check during the manufacturing, to ensure unmatched product quality.</p>
                        </b-card-text>
                     </b-tab>
                     <b-tab class="tab3" title="Moisture Resistant">
                        <b-card-text>
                           <h3>Moisture Resistant</h3>
                           <p>Century Prowud Boards have super smooth surfaces, making application of paint easier. The smooth surface, free from knots and foreign particles, is a perfect substrate for laminates or veneers</p>
                        </b-card-text>
                     </b-tab>
                     <b-tab class="tab4" title="Paintable">
                        <b-card-text>
                           <h3>Paintable</h3>
                           <p>These boards are very durable with high resistance to adverse environments like heat and humidity. Their high resistance makes them suitable for all locations and applications such as kitchen cabinets, wall paneling on external walls etc,.</p>
                        </b-card-text>
                     </b-tab>
                     <b-tab class="tab5" title="Value For Money">
                        <b-card-text>
                           <h3>Value For Money</h3>
                           <p>Century Prowud is suitable for diverse applications. It is formable, chipping-free, easily molded, and cost-effective, making it a highly sought after product in the interior solutions industry.</p>
                        </b-card-text>
                     </b-tab>
                     <b-tab class="tab6" title="Borer, Termite & Fungus Resistant">
                        <b-card-text>
                           <h3>Borer, Termite & Fungus Resistant</h3>
                           <p>Century Prowud Boards are highly resistant to termites and borers, ensuring greater durability</p>
                        </b-card-text>
                     </b-tab>
                     <b-tab class="tab6" title="Made For Indian Conditions">
                        <b-card-text>
                           <h3>Made For Indian Conditions</h3>
                           <p>Century Prowud Boards are highly resistant to termites and borers, ensuring greater durability</p>
                        </b-card-text>
                     </b-tab>
                     <b-tab class="tab6" title="Uniform & High Density">
                        <b-card-text>
                           <h3>Uniform & High Density</h3>
                           <p>Century Prowud Boards are highly resistant to termites and borers, ensuring greater durability</p>
                        </b-card-text>
                     </b-tab>
                     <b-tab class="tab6" title="Vast Range">
                        <b-card-text>
                           <h3>Vast Range</h3>
                           <p>Century Prowud Boards are highly resistant to termites and borers, ensuring greater durability</p>
                        </b-card-text>
                     </b-tab>
                  </b-tabs>
               </b-card>
            </div>
         </b-container>
      </section>
   </div>
</template>
<script>
   export default {
     name: "premium-plus",
     mounted() {}
   };
</script>