<template>
    <div class="single-product">
        <section class="main--desc">
            <div class="product_description">
                <h3 class="product-heading">Create your dream kitchen</h3>
                <p class="product-desc">
                    It is simple. Just click on the objects and choose the prowud panel that goes best with the schema
                </p>
            </div>
        </section>
        
        <section class="experience--wrapper">
         <div class="experience-tabs">
            <b-card no-body>
               <b-tabs pills card end>
                  <template v-for="(product,index) in products[0]">
                    <template v-if="index == 0">
                      <b-tab active>
                         <template v-slot:title>
                            <img :src="product.smallimage" alt="" />
                         </template>
                         <figure class="exp-banner" v-bind:style="{ backgroundImage: 'url(' + product.largeimage + ')' }"></figure>
                      </b-tab>
                    </template>
                    <template v-else>
                      <b-tab>
                         <template v-slot:title>
                            <img :src="product.smallimage" alt="" />
                         </template>
                         <figure class="exp-banner" v-bind:style="{ backgroundImage: 'url(' + product.largeimage + ')' }"></figure>
                      </b-tab>
                    </template>
                  </template>
               </b-tabs>
            </b-card>
         </div>
      </section>

      <section class="more-options">
          <b-container class="options__wrapper">
              <h2 class="section--heading">More Options</h2>
            <div class="cards--wrapper">
              <template v-for="modal in modals[0]">
                    <router-link class="card-link" :to="'/product/'+ modal.slug">
                    <b-card v-bind:title="modal.name" v-bind:img-src="modal.image" img-alt="Image" img-top tag="card">
                    </b-card>
                    </router-link>
              </template>
            </div>
          </b-container>
      </section>
    </div>
</template>

<script>
  import API_CONFIG from "../store/config";
export default {
  name: "product",
  data() {
    return {
      slug: "",
      products: "",
      modals: "",
    };
  },
  methods: 
  {
      async getproducts() 
      {

        const response = await fetch(
          API_CONFIG.GET_products+'/'+this.slug
        )
        .then(res => res.json())
        .then(data => data);
        if (response.status_code == 200)
        {
          this.products = [];
          this.products.push(response.data);

          this.modals = [];
          this.modals.push(response.modal);
          console.log(this.modals)
        }
      },
  },
  beforeMount()
  {
    this.getproducts();
  },
  watch: {
    "$route.params.slug"() {
      this.slug = this.$route.params.slug;
      this.getproducts();
    }
  },
  created() {
    (this.slug = this.$route.params.slug)
  },
};
</script>