<template>
   <div class="stockists">
      <section class="heroSection">
         <b-container>
            <b-row class="justify-content-start align-items-center">
               <b-col md="12">
                  <div class="heroHeading">
                     <h1 class="bigText">Stockists</h1>
                  </div>
               </b-col>
            </b-row>
         </b-container>
      </section>
      <section class="findUs">
         <b-container>
            <b-row class="headingRow">
               <h2 class="sectionHeading">Find Us Near You</h2>
            </b-row>
            <div role="tablist">
               <b-card no-body class="mb-1">
                  <b-card-header header-tag="header" class="p-1" role="tab">
                     <b-button block href="#" v-b-toggle.accordion-1 variant="info">
                        <h3 class="century--heading">
                           North Zone
                        </h3>
                     </b-button>
                  </b-card-header>
                  <b-collapse id="accordion-1" visible accordion="my-accordion" role="tabpanel">
                     <b-card-body>
                        <b-card-text>
                           <b-row class="contentRow zoneContainer northZone">
                              <b-col md="4" class="areaCardContainer">
                                 <div class="areaCard">
                                    <div class="areaName">
                                       <h2 class="section--heading">Delhi NCR</h2>
                                    </div>
                                    <div class="text">
                                       <p class="phone_number"><b>East & Central Delhi:</b> 8826699043</p>
                                       <p class="phone_number"><b>North & West Delhi:</b> 9599350560</p>
                                       <p class="phone_number"><b>South Delhi:</b> 9311473054</p>
                                       <p class="phone_number"><b>Faridabad & Gurugram:</b> 9899575202</p>
                                       <p class="phone_number"><b>Projects/OEM’s/Architects:</b> 9911491887, 9312264946</p>
                                    </div>
                                 </div>
                              </b-col>
                              <b-col md="4" class="areaCardContainer">
                                 <div class="areaCard">
                                    <div class="areaName">
                                       <h2 class="section--heading">
                                          Ghaziabad
                                       </h2>
                                    </div>
                                    <div class="text">
                                       <p>Branch Office: C-21, First Floor Meerut Road Industrial Area Ghaziabad-201003 (UP)<br/>
                                          Phone: 7986098890
                                       </p>
                                       <p class="phone_number"><b>Noida:</b> 8750506206</p>
                                       <p class="phone_number"><b>Moradabad:</b> 9759018286</p>
                                       <p class="phone_number"><b>Saharanpur:</b> 9557618363</p>
                                       <p class="phone_number"><b>Meerut:</b> 9068666066</p>
                                       <p class="phone_number"><b>Agra:</b> 9793098555</p>
                                    </div>
                                 </div>
                              </b-col>
                              <b-col md="4" class="areaCardContainer">
                                 <div class="areaCard">
                                    <div class="areaName">
                                       <h2 class="section--heading">Jaipur</h2>
                                    </div>
                                    <div class="text">
                                       <p>Branch Office: E-52, Road No.04 Behind VHIA Police Station VKIA, Jaipur, Rajasthan - 302013</p>
                                       <p class="phone_number"><b>Phone :</b> 0141-3064501, 9829739797, 9462222900, 9983431651</p>
                                       <p class="phone_number"><b>Udaipur :</b> 9116130066</p>
                                       <p class="phone_number"><b>Jodhpur :</b> 9785009073</p>
                                    </div>
                                 </div>
                              </b-col>
                              <b-col md="4" class="areaCardContainer">
                                 <div class="areaCard">
                                    <div class="areaName">
                                    <h2 class="section--heading">Ludhiana</h2>
                                    </div>
                                    <div class="text">
                                       <p>Branch Office: SCO 58, First floor, New Grain market, Gill road, Ludhiana-141003 <br/>
                                        <b>Phone:</b> 9815330490
                                       </p>
                                       <p class="phone_number"><b>Amritsar:</b> 8054900994</p>
                                       <p class="phone_number"><b>Bathinda:</b> 9988833030</p>
                                        <p class="phone_number"><b>Chandigarh:</b> 8283041155</p>
                                          <p class="phone_number"><b>Karnal:</b> 7755011114</p>
                                            <p class="phone_number"><b>Hissar:</b> 9467433111</p>
                                              <p class="phone_number"><b>Himachal Pradesh:</b> 7837036878</p>
                                                <p class="phone_number"><b>Jammu:</b> 9419156322</p>
                                    </div>
                                 </div>
                              </b-col>
                              <b-col md="4" class="areaCardContainer">
                                 <div class="areaCard">
                                    <div class="areaName">
                                    <h2 class="section--heading">Lucknow</h2>
                                    </div>
                                    <div class="text">
                                       <p>Branch Office: B 1330, Indira Nagar, Lucknow-226016, UP</p>
                                       <p>Phone: 0522-3063500, 7318280444, 7669685880</p>
                                       <p class="phone_number"><b>Kanpur:</b> 8604676314</p>
                                       <p class="phone_number"><b>Gorakhpur:</b> 9458539505</p>
                                       <p class="phone_number"><b>Patna:</b> 8541807963, 9599350560</p>
                                       <p class="phone_number"><b>Varanasi:</b> 8299005699</p>
                                    </div>
                                 </div>
                              </b-col>
                              <b-col md="4" class="areaCardContainer">
                                 <div class="areaCard">
                                    <div class="areaName"><h2 class="section--heading">Indore</h2></div>
                                    <div class="text">
                                      <p>Branch Office: AA/11, Papa Lal Tower Scheme 54, Satya Sai Square, AB Road, Indore - 452010</p>
                                        <p class="phone_number"><b>Phone:</b> 7869941780</p> 
                                        <p class="phone_number"><b>Jabalpur:</b> 8109351159</p>
                                        <p class="phone_number"><b>Gwalior:</b> 9340081035</p>
                                        <p class="phone_number"><b>Bhopal:</b> 7798677752</p>
                                        <p class="phone_number"><b>Raipur:</b> 8871627000</p>
                                    </div>
                                 </div>
                              </b-col>
                           </b-row>
                        </b-card-text>
                     </b-card-body>
                  </b-collapse>
               </b-card>
               <b-card no-body class="mb-1">
                  <b-card-header header-tag="header" class="p-1" role="tab">
                     <b-button block href="#" v-b-toggle.accordion-2 variant="info">
                        <h3 class="century--heading">
                           East Zone
                        </h3>
                     </b-button>
                  </b-card-header>
                  <b-collapse id="accordion-2" accordion="my-accordion" role="tabpanel">
                     <b-card-body>
                        <b-card-text>
                           <b-row class="contentRow zoneContainer eastZone">
                              <b-col md="4" class="areaCardContainer">
                                 <div class="areaCard">
                                    <div class="areaName">
                                    <h2 class="section--heading">Kolkata</h2>
                                    </div>
                                    <div class="text">
                                       <p>Kolkata 6 Lyons Range, Kolkata – 700001</p>
                                          <p class="phone_number"><b>Phone:</b> 9167152897</p>
                                    </div>
                                 </div>
                              </b-col>
                              <b-col md="4" class="areaCardContainer">
                                 <div class="areaCard">
                                    <div class="areaName"><h2 class="section--heading">Bhubaneswar</h2></div>
                                    <div class="text">
                                       <p>Branch Office: 40 & 41 Rasulgarh, Near Narayani Motors Lines, Infront of Image, Bhubaneswar - 751010</p>
                                       <p class="phone_number"><b>Phone:</b> 0674-2582502, 3270188, 7978154633</p>
                                    </div>
                                 </div>
                              </b-col>
                              <b-col md="4" class="areaCardContainer">
                                 <div class="areaCard">
                                    <div class="areaName"><h2 class="section--heading">Guwahati</h2></div>
                                    <div class="text">
                                       <p>Branch Office: H No. 24, Ground Floor, Piyoli Phukan Road Rehabari, Guwahati - 781008</p>
                                       <p class="phone_number"><b>Phone:</b> 0361-2737871, 9435032182</p>
                                       <p class="phone_number"><b>Siliguri:</b> 9051356668</p>
                                    </div>
                                 </div>
                              </b-col>
                              <b-col md="4" class="areaCardContainer">
                                 <div class="areaCard">
                                    <div class="areaName"><h2 class="section--heading">Ranchi</h2></div>
                                    <div class="text">
                                       <p>Branch Office: Devi Mandap Road, Near Mahavir Mandir, Hesal Ratu Road Ranchi, Jharkhand - 834005</p>
                                       <p class="phone_number"><b>Phone:</b> 9430734125</p>
                                    </div>
                                 </div>
                              </b-col>
                           </b-row>
                        </b-card-text>
                     </b-card-body>
                  </b-collapse>
               </b-card>
               <b-card no-body class="mb-1">
                  <b-card-header header-tag="header" class="p-1" role="tab">
                     <b-button block href="#" v-b-toggle.accordion-3 variant="info">
                        <h3 class="century--heading">
                           West Zone
                        </h3>
                     </b-button>
                  </b-card-header>
                  <b-collapse id="accordion-3" accordion="my-accordion" role="tabpanel">
                     <b-card-body>
                        <b-card-text>
                           <b-row class="contentRow zoneContainer westZone">
                              <b-col md="4" class="areaCardContainer">
                                 <div class="areaCard">
                                    <div class="areaName"><h2 class="section--heading">Mumbai</h2></div>
                                    <div class="text">
                                       <p>Branch Office: 15th Floor, Range Heights Behrambaug, Jogeshwari (W) Mumbai - 400 102</p>
                                       <p class="phone_number"><b>Phone:</b> 022-26734773/4, 022 - 39851207</p>
                                    </div>
                                 </div>
                              </b-col>
                              <b-col md="4" class="areaCardContainer">
                                 <div class="areaCard">
                                    <div class="areaName"><h2 class="section--heading">Pune</h2></div>
                                    <div class="text">
                                       <p>Branch Office: Winner's Court, Office No.402, 4th floor, Above ZK's Restaurant Lulla Nagar Chowk Pune - 411040</p>
                                       <p class="phone_number"><b>Phone:</b> 8806062926</p>
                                       <p class="phone_number"><b>Kolhapur:</b> 8007658276</p>
                                    </div>
                                 </div>
                              </b-col>
                              <b-col md="4" class="areaCardContainer">
                                 <div class="areaCard">
                                    <div class="areaName"><h2 class="section--heading">Nagpur</h2></div>
                                    <div class="text">
                                       <p>Branch Office: 2nd Floor, 202 Crystal Plaza, Central Bazar Road, Ramdaspeth, (Beside Krims Hospital) Nagpur - 440011</p>
                                       <p class="phone_number"><b>Phone:</b> 0712 - 2450450, 9545303037</p>
                                    </div>
                                 </div>
                              </b-col>
                              <b-col md="4" class="areaCardContainer">
                                 <div class="areaCard">
                                    <div class="areaName"><h2 class="section--heading">Ahmedabad</h2></div>
                                    <div class="text">
                                       <p>Branch Office: 1006-1009 Sakar- 3, 10th Floor Nr. Income Tax Circle, Ashram Road Ahmedabad - 380014</p>
                                       <p class="phone_number"><b>Phone:</b> 9898112599
                                          <p class="phone_number"><b>Rajkot :</b> 9725858490</p>
                                          <p class="phone_number"><b>Vadodara (Baroda):</b> 8238072010</p>
                                          <p class="phone_number"><b>Surat:</b> 7781916556</p>
                                    </div>
                                 </div>
                              </b-col>
                           </b-row>
                        </b-card-text>
                     </b-card-body>
                  </b-collapse>
               </b-card>
               <b-card no-body class="mb-1">
                  <b-card-header header-tag="header" class="p-1" role="tab">
                     <b-button block href="#" v-b-toggle.accordion-4 variant="info">
                        <h3 class="century--heading">
                           South Zone
                        </h3>
                     </b-button>
                  </b-card-header>
                  <b-collapse id="accordion-4" accordion="my-accordion" role="tabpanel">
                     <b-card-body>
                        <b-card-text>
                           <b-row class="contentRow zoneContainer southZone">
                              <b-col md="4" class="areaCardContainer">
                                 <div class="areaCard">
                                    <div class="areaName"><h2 class="section--heading">Bangalore</h2></div>
                                    <div class="text">
                                       <p>Branch Office: # 92, 3rd Floor, HJS Chamber Next to Pride Hotel, Richmond Road, Bangalore - 560025</p>
                                       <p class="phone_number"><b>Phone:</b> 080-39403950, 9845032960</p>
                                       <p class="phone_number"><b>Mysore & Mangalore :</b> 9620777255</p>
                                       <p class="phone_number"><b>Hubli :</b> 9535845667</p>
                                    </div>
                                 </div>
                              </b-col>
                              <b-col md="4" class="areaCardContainer">
                                 <div class="areaCard">
                                    <div class="areaName"><h2 class="section--heading">Chennai</h2></div>
                                    <div class="text">
                                       <p>Branch Office: 2/1 First Floor, Sattana Naciken Street, Inside Nehru Timber Market Choolai, Chennai- 600112</p>
                                       <p class="phone_number"><b>Phone:</b> 044 – 30544500, 9380001700</p>
                                       <p class="phone_number"><b>Coimbatore :</b> 7845777001</p> <p class="phone_number"><b>Madurai :</b> 9655245229</p> <p class="phone_number"><b>Tirunelveli:</b> 9629431192</p>
                                    </div>
                                 </div>
                              </b-col>
                              <b-col md="4" class="areaCardContainer">
                                 <div class="areaCard">
                                    <div class="areaName"><h2 class="section--heading">Kochi</h2></div>
                                    <div class="text">
                                       <p>Branch Office: Ground Floor Alakalathil Building Edapally P O. Kochi Kerala - 682024</p>
                                       <p class="phone_number"><b>Phone:</b> 0484-2575103</p> <p class="phone_number"><b>Trivandrum :</b> 9946106417</p>
                                       <p class="phone_number"><b>Cochin :</b> 9946104486</p> <p class="phone_number"><b>Calicut :</b> 9946104476</p>
                                    </div>
                                 </div>
                              </b-col>
                              <b-col md="4" class="areaCardContainer">
                                 <div class="areaCard">
                                    <div class="areaName"><h2 class="section--heading">Secundarabad</h2></div>
                                    <div class="text">
                                       <p>Branch Office: 405 A, 4th Floor Minerva Commercial Complex SD Road, Secunderabad - 500003</p>
                                       <p class="phone_number"><b>Phone:</b> 040-39403950 - Ext: 304, 9177526805</p>
                                       <p class="phone_number"><b>Hyderabad :</b> 9963726227, 8297011157</p>
                                       <p class="phone_number"><b>Vijayawada :</b> 8297011662, 9704013334</p>
                                    </div>
                                 </div>
                              </b-col>
                           </b-row>
                        </b-card-text>
                     </b-card-body>
                  </b-collapse>
               </b-card>
            </div>
         </b-container>
      </section>
   </div>
</template>
<script>
   export default {
     name: "stockists",
     mounted() {}
   };
</script>