<template>
   <div id="app">
      <header>
         <!-- <button class="nav--trigger" v-bind:class="{ triggered: isTriggred }" v-on:click="myFilter" id="navTrigger">
          <span class="bar" />
        </button> -->
         <nav class="navbar">
            <div class="container">
               <div class="logo-container">
                  <router-link to="/centuryprowud">
                     <img src="./assets/img/logo/logo.png" alt="Logo" />
                  </router-link>
               </div>
               <div class="navigation">
                  <ul class="navs">
                     <li class="dropdown--trigger" >
                        <a href="#" v-on:click="() => { this.isExpanded = !this.isExpanded }">
                        Products
                        </a>
                        <ul class="submenu">
                           <li>
                              <router-link to="/mdf" v-on:click.native="myFilter">MDF</router-link>
                           </li>
                           <li>
                              <router-link to="/premium-plus">Premium Plus</router-link>
                           </li>
                        </ul>
                     </li>
                     <li>
                        <router-link to="/#exporeModal" v-scroll-to="{el:'#exporeModal', duration: 200, easing: 'linear', offset: -100}">Prowud Range</router-link>
                     </li>
                     <li>
                        <router-link to="/experience" v-on:click.native="myFilter">Experience Zone</router-link>
                     </li>
                     <li>
                        <router-link to="/dealers" v-on:click.native="myFilter">Stockists</router-link>
                     </li>
                     <li>
                        <router-link to="/catalogue" v-on:click.native="myFilter">Catalogue</router-link>
                     </li>
                     <li>
                        <router-link to="/contact" v-on:click.native="myFilter">Contact</router-link>
                     </li>
                  </ul>
               </div>
            </div>
         </nav>
      </header>
      <!-- Component Call Starts -->
      <router-view />
      <!-- Component Call Ends -->
      <footer>
         <div class="container-fluid">
            <div class="footerBG">
               <div class="sectionFooter">
                  <div class="container-fluid">
                     <div class="row">
                        <div class="col-md-10 offset-md-1">
                           <div class="row">
                              <div class="col-md-4">
                                 <div class="footerColumnData">
                                    <div class="logo-container">
                                       <router-link to="/">
                                          <img src="./assets/img/logo/logo-white.png" alt="Footer Logo" />
                                       </router-link>
                                    </div>
                                    <div class="footerSocial">
                                       <ul>
                                          <li>
                                             <a href="https://www.instagram.com/centuryprowud/" target="_blank">
                                             <i class="fab fa-instagram"></i>
                                             </a>
                                          </li>
                                          <li>
                                             <a href="https://twitter.com/Centuryprowud" target="_blank">
                                             <i class="fab fa-twitter"></i>
                                             </a>
                                          </li>
                                          <li>
                                             <a href="https://www.facebook.com/CenturyProwud/" target="_blank">
                                             <i class="fab fa-facebook-f"></i>
                                             </a>
                                          </li>
                                       </ul>
                                    </div>
                                 </div>
                              </div>
                              <div class="col-md-4">
                                 <div class="footerColumnData">
                                    <h4 class="footerColumnTitle">Newsletter</h4>
                                    <div class="footerFormContainer">
                                       <form class="footerNewsletterForm" method="POST" onSubmit={this.handleSubmit} noValidate>
                                          <input type="email" name="newsletter" class="newsletter "
                                             value=""
                                             placeholder="Enter your e-mail Address" autoComplete="off" onChange="" ></input>
                                          <button class="newsletterSubmit"><i class="far fa-arrow-alt-circle-right"></i></button>
                                       </form>
                                    </div>
                                    <div class="newsletterError"></div>
                                 </div>
                              </div>
                              <div class="col-md-4">
                                 <div class="footerColumnData">
                                    <h4 class="footerColumnTitle">Contact</h4>
                                    <div class="footerTextContainer">
                                       <p class="footerText">
                                          Reach out to us for queries at –
                                          <span class="footerContactDetails">
                                          <a class="footerEmail" href="mailto:prowud@centuryply.com"> prowud@centuryply.com</a>
                                          <br />
                                          <a class="footerPhone" href="tel:+917042399909">+91 - 7042399909</a>
                                          </span>
                                       </p>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="footer-strip">
            <div class="container">
               <span>&copy; 2019 Century Prowud</span>
            </div>
         </div>
         <button class="info--form--trigger" onclick="document.getElementsByClassName('slide__form')[0].classList.add('active')">
         <i class="fas fa-info-circle"></i>
         </button>
      </footer>
      <section class="slide__form">
         <div class="container">
            <div class="close__button" onclick="document.getElementsByClassName('slide__form')[0].classList.remove('active')">
               <span></span>
               <span></span>
            </div>
            <div class="enquiry--form-box">
               <h2 class="section--heading">Make an enquiry</h2>
               <div class="row enquiry--forms">
                  <div class="col-md-12">
                     <b-form @submit="onSubmit" v-if="show" id="infoForm">
                        <b-form-group id="nameInfo">
                           <b-form-input id="nameInfo" v-model="form.name" required placeholder="Enter name"></b-form-input>
                        </b-form-group>
                        <b-form-group id="emailInfo">
                           <b-form-input id="emailInfo" v-model="form.email" type="email" required placeholder="Enter email"
                              ></b-form-input>
                        </b-form-group>
                        <b-form-group id="phoneInfo">
                           <b-form-input id="phoneInfo" v-model="form.email" type="email" required placeholder="Enter Phone Number"
                              ></b-form-input>
                        </b-form-group>
                        <select2 :options="options" v-model="form.state" @input="onChangeState">
                           <option disabled value="0">Select State</option>
                        </select2>
                        <b-form-textarea id="textarea" placeholder="Enter Your Message" v-model="form.message" rows="4"></b-form-textarea>
                        <b-button type="submit" class="btn--submit">Submit</b-button>
                     </b-form>
                  </div>
               </div>
            </div>
         </div>
      </section>
   </div>
</template>
<script>
   import JQuery from 'jquery';
   import select2 from "./views/Select2";
   let $ = JQuery
   export default {
     name: 'App',
     components: {
      select2
      },
     data() {
       return {
         isTriggred: false,
         isMenuopen: false,
         isExpanded: false,
         isExpanded2: false,
         form: {
          email: '',
          name: '',
          food: null,
          checked: [],
          selected: null,
           options: [
             { value: 'Please select an option' },
             { value: 'This is First option' },
             { value: 'Selected Option' },
             { value: 'This is an option with object value' },
             { value: 'This one is disabled' }
         ]
        },
        show: true
       };
     },
     methods: {
       myFilter: function() {
         this.isTriggred = !this.isTriggred;
         this.isMenuopen = !this.isMenuopen;
       },
       onSubmit(evt) {
        evt.preventDefault()
        alert(JSON.stringify(this.form))
      },
      onReset(evt) {
        evt.preventDefault()
        // Reset our form values
        this.form.email = ''
        this.form.name = ''
        this.form.food = null
        this.form.checked = []
        // Trick to reset/clear native browser form validation state
        this.show = false
        this.$nextTick(() => {
          this.show = true
        })
      }
     }
   }
</script>
<style></style>