#modal-product {
    &.modal {
        .modal-dialog {
            .modal-content {
                border-radius: 20px;
                button {
                    &.close {
                        position: absolute;
                        right: 35px;
                        top: 30px;
                        transition: all ease-in-out 0.3s;
                        img {
                            width: 20px;
                            height: 20px;
                            transition: all ease-in-out 0.3s;
                        }
                        &:hover {
                            outline: none;
                        }
                    }
                }
                .modal-header,
                .modal-footer {
                    display: none;
                }
                .container {
                    padding: 50px 100px;
                    .row {
                        .col-md-6,
                        .col-md-5,
                        .col {
                            height: 45vh;
                            .imgContainer {
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                height: 100%;
                                &.big {
                                    width: 100%;
                                    overflow: hidden;
                                    img {
                                        width: 100%;
                                        border-radius: 20px;
                                    }
                                }
                            }
                            .contentContainer {
                                display: flex;
                                justify-content: space-between;
                                flex-direction: column;
                                height: 100%;
                                h2 {
                                    &.productName {
                                        font-size: 30px;
                                        line-height: 37px;
                                        color: #FF0000;
                                        font-weight: 400;
                                        text-transform: uppercase;
                                        margin-bottom: 20px;
                                    }
                                }
                                p {
                                    font-size: 22px;
                                    line-height: 25px;
                                    font-weight: 400;
                                    margin-bottom: 0px;
                                }
                            }
                            ul {
                                display: flex;
                                justify-content: flex-start;
                                align-items: center;
                                list-style: none;
                                padding: 0px;
                                margin-top: 100px;
                                width: 100%;
                                li {
                                    width: 25%;
                                    display: flex;
                                    justify-content: center;
                                    align-items: flex-start;
                                    height: 75px;
                                    position: relative;
                                    &:after {
                                        content: "";
                                        position: absolute;
                                        top: 10px;
                                        right: 0px;
                                        height: 60%;
                                        background: #707070;
                                        width: 2px;
                                    }
                                    &:last-of-type {
                                        &:after {
                                            content: unset;
                                        }
                                    }
                                    a {
                                        text-decoration: none;
                                        color: #000;
                                        .imgContainer {
                                            width: 30px;
                                            height: 30px;
                                            overflow: hidden;
                                            text-align: center;
                                            margin: 0 auto;
                                            display: flex;
                                            justify-content: center;
                                            align-items: center;
                                            img {
                                                width: 100%;
                                            }
                                        }
                                    }
                                    .text {
                                        font-size: 17px;
                                        font-weight: 400px;
                                        text-align: center;
                                        margin: 0 auto;
                                        margin-top: 10px;
                                        line-height: 17px;
                                    }
                                }
                            }
                        }
                        .col {
                            margin-left: 50px;
                        }
                    }
                }
            }
        }
    }
}

#modal-catalogues {
    .close {
        img {
            width: 18px;
        }
    }
    h2 {
        &.section--heading {
            display: inline-block;
        }
    }
    form {
        &#downloadCatalogue {
            .form-control {
                border-radius: 0;
                &:focus {
                    outline: none;
                    box-shadow: none;
                }
            }
            .enquire__field {
                margin-top: 1rem;
                .form-control {
                    margin-bottom: 1rem;
                }
                button {
                    &.sendOtp, &.send__enquiry {
                        background: #ed1c24;
                        color: #fff;
                        border-color: #ed1c24;
                        border-radius: 0;
                        width: 120px;
                        transition-duration: 0.5s;
                        &:hover {
                            background: #fff;
                            color: #ed1c24;
                            transition-duration: 0.5s;
                        }
                    }
                    &.resend__button {
                        background: 0;
                        border: 0;
                        font-size: 12px;
                        color: #666;
                        position: absolute;
                        bottom: 10px;
                        left: 30px;
                    }
                    &:focus {
                        outline: none;
                        box-shadow: none;
                    }
                }
            }
        }
    }
    .view-button {
        display: flex;
        justify-content: space-between;
        align-items: center;
        a {
            &.view {
                background: #ed1c24;
                border: 1px solid #ed1c24;
                font-size: 17px;
                color: #fff;
                padding: 12px 20px;
                margin-right: 30px;
            }
            &.download {
                margin-right: 0;
            }
        }
    }
    .modal-footer {
        display: none;
    }
}