.catalogue {
    text-align: left;
    section {
        .container {
            max-width: 85vw;
        }
        &.heroSection {
            background: url('../img/catalogue.png') no-repeat center center/cover;
            margin-top: 64px;
            .container {
                .row {
                    height: 66vh;

                    .col-md-12 {
                        .heroHeading {
                            .smallText {
                                font-size: 30px;
                                font-weight: 400;
                                line-height: 37px;
                                color: #fff;
                                border-top: 1px solid #fff;
                                border-bottom: 1px solid #fff;
                                display: inline-block;
                                text-transform: uppercase;
                            }

                            .bigText {
                                font-size: 80px;
                                line-height: 96px;
                                color: #fff;
                                text-transform: uppercase;
                                font-weight: 400;
                            }
                        }
                    }
                }
            }
        }
        &.range {
            padding: 90px 0 70px 0;
            .container {
                .row {
                    &.headingRow {
                        h2 {
                            &.sectionHeading {
                                font-size: 40px;
                                line-height: 48px;
                                border-bottom: 1px solid #FF0000;
                                margin-bottom: 60px;
                                font-weight: 400;
                                text-transform: uppercase;
                            }
                        }
                    }

                    &.contentRow {
                        .col-md-2 {
                            &.gridItem {
                                cursor: pointer;
                                /*margin: 20px auto;*/
                                margin-right: 10px;
                                padding-left: 0;
                                text-align: center;
                                text-decoration: none;
                                color: #000;

                                .imgContainer {
                                    border-radius: 14px;
                                    overflow: hidden;
                                    margin-bottom: 20px;

                                    img {
                                        width: 100%;
                                    }
                                }

                                .productName {
                                    font-size: 25px;
                                    font-weight: 400;
                                    line-height: 30px;
                                }
                            }
                        }
                    }
                }
            }
        }

        &.downloads {
            padding: 90px 0;
            background: #13171C;
            h2 {
                &.section--heading {
                    color: #fff;
                    margin-bottom: 100px;
                    &:after {
                        width: 380px;
                    }
                }
            }
            .gridContent {
                background: #000414;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                padding: 40px 30px;
                min-height: 400px;
                margin-right: 40px;
                .imgContainer {
                    width: 60px;
                    img {
                        width: 100%;
                    }
                }

                .documentName {
                    margin-top: 30px;
                    margin-bottom: 40px;
                    font-size: 15px;
                    text-align: center;
                    color: #fff;
                    min-height: 50px
                }

                .dwnldBtn {
                    background: transparent;
                    color: #FFF;
                    border: 1px solid#FFF;
                    height: 40px;
                    line-height: 40px;
                    text-align: center;
                    width: 150px;
                    font-size: 15px;
                    padding: 0;
                    border-radius: 25px;
                    margin-top: 30px;
                    position: relative;
                    transition: all ease-in-out 0.3s;

                    &:hover {
                        background: #fff;
                        color: #000414;
                    }

                    &:before {
                        content: "";
                        background: #fff;
                        position: absolute;
                        top: -30px;
                        left: 0;
                        width: 100%;
                        height: 1px;
                    }
                    &:focus {
                        outline: none;
                        box-shadow: none;
                    }
                }
            }
        }
    }
}