.contact--us {
    margin-top: 64px;
    .top--banner {
        background-image: url('../img/contact/contact--banner.png');
        height: 66vh;
        background-size: cover;
        background-position: center 30%;
        background-repeat: no-repeat;
        position: relative;
        .banner--writeup {
            display: flex;
            justify-content: center;
            align-items: flex-start;
            flex-direction: column;
            height: 100%;
            padding-left: 8%;
            h2 {
                font-size: 80px;
                color: #fff;
                font-weight: 400;
                text-transform: uppercase;
            }
        }
    }
    .contact__wrapper {
        background: #13171c;
        padding: 100px 0;
        .century-prowud-address {
            .address_ {
                h2 {
                    &.section--heading {
                        color: #fff;
                        &:after {
                            width: 200px;
                        }
                    }
                }
                .getintouch {
                    h3 {
                        font-weight: 400;
                        text-transform: uppercase;
                        font-size: 17px;
                        color: #fff;
                        margin-bottom: 30px;
                    }
                    p {
                        color: #fff;
                        a {
                            display: block;
                            color: #fff;
                        }
                    }
                }
                figure {
                    width: 450px;
                    img {
                        width: 100%;
                    }
                }
                &.text {
                    background: #414455;
                    color: #fff;
                    padding: 40px 60px;
                    height: 400px;
                }
            }
        }
    }
    .enquiry__wrapper {
        background: #000414;
        padding: 100px 0;
        figure {
            &.enq_image {
                margin-bottom: 0;
                height: 450px;
                background-size: cover;
                background-position: center center;
            }
        }
        .enquiry__form {
            form {
                &#enquiryForm {
                    .form-group {
                        display: flex;
                        align-items: center;
                        label {
                            margin-bottom: -30px;
                            color: #fff;
                            width: 80px;
                        }
                        .form-control {
                            background: transparent;
                            border: 0;
                            border-bottom: 1px solid #aaa;
                            border-radius: 0;
                            width: 450px;
                            &:focus {
                                box-shadow: none;
                                outline: none;
                            }
                        }
                    }
                    .message {
                        display: flex;
                        margin-top: 3rem;
                        textarea {
                            position: relative;
                            background: transparent;
                            border: 0;
                            border-radius: 0;
                            padding: 12px 20px;
                            border: 1px solid #aaa;
                            &:focus {
                                box-shadow: none;
                                outline: none;
                            }
                        }
                        .text-label {
                            margin-top: 30px;
                            color: #fff;
                            width: 100px;
                        }
                    }
                    .send--enquiry {
                        border-radius: 100px;
                        padding: 8px 20px;
                        width: 130px;
                        background: transparent;
                        border: 1px solid #fff;
                        display: block;
                        text-align: center;
                        margin: 0 auto;
                        margin-top: 40px;
                        transition-duration: 0.5s;
                        &:hover {
                            background: #fff;
                            color: #000414;
                            transition-duration: 0.5s;
                        }
                    }
                }
            }
        }
    }
}