.creatingResponsibly {
    text-align: left;
    section {
        // height: 100vh;
        // width: 100vw;

        .container {
            max-width: 85vw;

            .row {
                height: 100vh;
            }
        }

        &.heroSection {
            background: url('../img/creating-resopnsibility.png') no-repeat center center/cover;

            .container {
                .row {
                    .col-md-12 {
                        .heroHeading {
                            margin-top: 200px;

                            .smallText {
                                font-size: 30px;
                                font-weight: 500;
                                line-height: 37px;
                                color: #FFFFFF;
                                border-top: 1px solid #FFF;
                                border-bottom: 1px solid #FFF;
                                display: inline-block;
                                text-transform: uppercase;
                            }

                            .bigText {
                                font-size: 80px;
                                line-height: 96px;
                                color: #FFFFFF;
                                text-transform: uppercase;
                                font-weight: 400;
                            }
                        }
                    }
                }
            }
        }

        &.creatingResponsiblySection,
        &.stateOfTheArtSection,
        &.drivenByInnovationSection {
            .container {
                .row {
                    .col-md-12 {
                        &.contentContainer {
                            height: 80vh;
                            overflow: hidden;

                            .row {
                                height: 100%;

                                .col-md-6 {
                                    &.sectionContentContainer {
                                        background: rgba(0, 0, 0, 0.85);
                                        height: 100%;
                                        display: flex;
                                        justify-content: center;
                                        align-items: center;
                                        padding: 100px 55px;

                                        .sectionContent {
                                            .sectionHeading {
                                                font-size: 30px;
                                                font-weight: 500;
                                                line-height: 37px;
                                                border-bottom: 1px solid #FF0000;
                                                margin-bottom: 20px;
                                                color: #FFF;
                                                text-transform: uppercase;
                                                display: inline-block;
                                            }

                                            .sectionText {
                                                font-size: 17px;
                                                font-weight: 500;
                                                line-height: 24px;
                                                color: #FFF;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        &.creatingResponsiblySection {
            background: #262424;

            .container {
                .row {
                    .col-md-12 {
                        &.contentContainer {
                            background: url('../img/section1.png') no-repeat center center/cover;
                        }
                    }
                }
            }
        }

        &.stateOfTheArtSection {
            background: #000;

            .container {
                .row {
                    .col-md-12 {
                        &.contentContainer {
                            background: url('../img/section2.png') no-repeat center center/cover;
                        }
                    }
                }
            }
        }

        &.drivenByInnovationSection {
            background: #262424;
            .container {
                .row {
                    .col-md-12 {
                        &.contentContainer {
                            background: #262424;

                            .row {
                                .col-md-6 {
                                    &.sectionContentContainer {
                                        background: #262424;
                                        height: 100%;
                                    }

                                    &.sectionImageContainer {
                                        background: url('../img/section3.png') no-repeat center center/contain; 
                                        width: 100%;
                                        height: 100%;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
