.experience {
    margin-top: 64px;
    .top--banner {
        background-image: url('../img/experience/experience-banner.png');
        height: 90vh;
        background-size: cover;
        background-position: center 30%;
        background-repeat: no-repeat;
        position: relative;
        .banner--writeup {
            display: flex;
            justify-content: center;
            align-items: flex-start;
            flex-direction: column;
            height: 100%;
            padding-left: 8%;
            .century--heading {
                color: #431a2e;
                &:after {
                    background: #431a2e;
                }
            }
            h2 {
                font-size: 80px;
                color: #431a2e;
                font-weight: 400;
                text-transform: uppercase;
                small {
                    display: block;
                    font-size: 22px;
                }
            }
        }
    }
    .exp-card-wrapper {
        padding: 100px 0;
        h2 {
            &.section--heading {
                margin-bottom: 30px;
                &:after {
                    width: 500px;
                }
            }
        }
        p {
            &.heading-content {
                width: 60%;
                margin-bottom: 60px;
            }
        }
        .cards--wrapper {
            .card {
                .card-img-top {
                    border-radius: 1.5rem;
                }
            }
        }
    }
}