footer {
  background: #000;
  position: relative;
  .footerBG {
    padding: 80px 0 80px;
    .sectionFooter {
      .container-fluid {
        padding: 0;
        .footerColumnData {
          padding-top: 50px;
          .logo-container {
            width: 200px;
            img {
              width: 100%;
            }
          }
          .footerText {
            color: #999999;
            margin: 13px 0 36px;
            padding-right: 50px;
            font-size: 14px;
            font-weight: normal;
            line-height: 24px;
            .footerContactDetails {
              a {
                color: #fff;
                text-decoration: none;
              }
            }
          }
          .footerColumnTitle {
            color: #f9f9f9;
            font-size: 18px;
            letter-spacing: 2px;
            margin-bottom: 10px;
            text-transform: uppercase;
            font-weight: normal;
          }
          .footerSocial {
            ul {
              list-style: none;
              padding: 0;
              li {
                display: inline-block;
                margin-right: 13px;
                a {
                  background-color: #232323;
                  border-radius: 50px;
                  color: #fcfcfc;
                  display: inline-block;
                  font-size: 18px;
                  height: 40px;
                  text-align: center;
                  width: 40px;
                  i {
                    line-height: 40px;
                  }
                  &:hover {
                    background-color: #fff;
                    color: #292929;
                  }
                }
              }
            }
          }
          .newsletterError {
            font-size: 12px;
            color: #f44336;
            padding: 0 1px;
          }
          .footerFormContainer {
            position: relative;
            .footerNewsletterForm {
              input {
                background-color: transparent;
                border-color: #727272;
                border-style: solid;
                border-width: 0 0 1px;
                color: #ccc;
                display: block;
                font-size: 13px;
                font-weight: normal;
                height: 58px;
                line-height: 58px;
                padding: 0 40px 0 8px;
                width: 90%;
                &:focus {
                  outline: none;
                }
                &:active {
                  background: transparent;
                  outline: none;
                }
              }
              button {
                background: transparent;
                color: #fcfcfc;
                position: absolute;
                bottom: 12px;
                right: 40px;
                border: 0;
                &:focus {
                  border: 0;
                  outline: 0;
                  box-shadow: none;
                }
              }
            }
          }
        }
      }
    }
  }
  .footer-strip {
    padding: 20px 0;
    background: #212121;
    .container {
      display: flex;
      justify-content: center;
      span {
        color: #aaa;
        font-weight: 600;
        font-size: 17px;
      }
    }
  }
  .info--form--trigger {
    position: fixed;
    right: 0;
    bottom: 20%;
    background: #ed1c24;
    border: 0;
    padding: 10px;
    height: 45px;
    width: 45px;
    line-height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    i {
      font-size: 22px;
      color: #fff;
    }
    &:focus {
      outline: none;
    }
  }
}

.slide__form {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  background: #fff;
  height: 100vh;
  z-index: 99999;
  width: 30%;
  padding: 30px 20px;
  transition: all 0.7s ease;
  transform: translateX(100%);
  &.active {
    transform: translateX(0%);
  }
  .close__button {
    position: absolute;
    top: 45px;
    right: 5%;
    height: 30px;
    width: 30px;
    cursor: pointer;
    span {
      height: 1px;
      width: 15px;
      background: #ed1c24;
      display: block;
      margin: -1px;
      &:nth-of-type(1) {
        transform: rotate(45deg);
      }
      &:nth-of-type(2) {
        transform: rotate(-45deg);
      }
    }
  }
  .enquiry--form-box {
    h2 {
      &.section--heading {
        font-size: 1.5rem;
        display: inline-block;
        &:after {
          width: 203px;
        }
      }
    }
    .enquiry--forms {
      #infoForm {
        margin-top: 30px;
        .form-control {
          border: 0;
          border-bottom: 1px solid rgba(0, 0, 0, 0.1);
          border-radius: 0;
          padding: 8px 0;
          font-size: 13px;
          text-transform: uppercase;
          letter-spacing: 2px;
          &:focus {
            box-shadow: none;
            outline: none;
            border-bottom: 1px solid #ed1c24;
          }
        }
        .btn--submit {
          margin-top: 20px;
          background: transparent;
          border: 1px solid #ed1c24;
          border-radius: 0;
          width: 150px;
          color: #ed1c24;
          text-transform: uppercase;
          font-size: 17px;
          padding: 7px 10px;
          cursor: pointer;
          transition: all 0.5s ease-in-out;
          &:hover {
            background: #ed1c24;
            color: #fff;
          }
        }
      }
      select {
        display: block;
        width: 100%;
        background: 0 0;
        padding: 6px 10px;
        border: 0;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        margin-bottom: 20px;
        &:focus {
          box-shadow: none;
          outline: none;
          border-bottom: 1px solid #ed1c24;
        }
      }
    }
  }
}