body {
  font-style: normal;
  scroll-behavior: smooth;
  font-family: "Roboto";
}

ul {
  padding: 0;
  margin: 0;
}

a {
  &:hover {
    text-decoration: none;
  }
}

.row-no-gutter {
  margin-right: 0;
  margin-left: 0;
  
  [class*="col-"] {
    padding-right: 0;
    padding-left: 0;
  }
}

.know--more {
  color: #000;
  cursor: pointer;
  font-weight: 700;
  padding: 10px 20px;
  margin-bottom: 0;
  border-radius: 100px;
  font-weight: 400;
  border: 1px solid #000;
  text-align: center;
  font-size: 14px;
  height: 40px;
  line-height: 40px;
  transition: all .2s ease-in-out;
  transition-duration: 0.4s;
  text-decoration: none;
  &:hover {
    color: #fff;
    background: #000;
    transition: all .2s ease-in-out;
    transition-duration: 0.4s;
  }
}

h2 {
  &.section--heading {
    position: relative;
    margin-bottom: 20px;
    font-weight: 400;
    text-transform: uppercase;
    &:after {
      position: absolute;
      content: "";
      background: #ed1c24;
      height: 1px;
      width: 350px;
      bottom: 0;
      left: 0;
    }
  }
}

.century--heading {
  position: relative;
  padding: 0;
  margin-bottom: 0;
  text-transform: uppercase;
  font-weight: 400;
  &:after {
    position: absolute;
    content: "";
    height: 1px;
    width: 140px;
    left: 0;
    bottom: 0;
  }
}

section {
  &.experience--wrapper {
    .experience-tabs {
      position: relative;
      h2 {
        &.section--heading {
          position: absolute;
          top: 10%;
          left: 6%;
          z-index: 9;
          color: #fff;
          &:after {
            width: 470px;
          }
        }
      }
      .card {
        border: 0;
        figure {
          &.exp-banner {
            height: 100vh;
            background-size: cover;
            background-position: center center;
            margin-bottom: 0;
          }
        }
        .card-footer {
          position: absolute;
          bottom: 0;
          background: rgba(255,255,255,0.6);
          width: 100%;
          ul {
            width: 70%;
            margin: 0 auto;
            li {
              .nav-link {
                padding: 5px;
                margin-right: 20px;
                &.active {
                  background: transparent;
                  border-radius: 0.8rem;
                  border: 1px solid #ed1c24;;
                }
              }
              &:last-of-type {
                .nav-link {
                  margin-right: 0;
                }
              }
            }
          }
        }
        .card-body {
          padding: 0;
          border: 0;
        }
      }
    }
  }
  &.main--desc {
    padding: 50px 0;
    .product_description {
      padding: 0 100px;
      h3 {
        font-weight: 400;
        text-transform: uppercase;
        margin-bottom: 30px;
        font-size: 40px;
      }
      p {
        width: 60%;
        font-size: 22px;
      }
    }
  }
}

.cards--wrapper {
  .card-link {
    width: 30%;
    float: left;
    margin-right: 3%;
    margin-bottom: 3%;
    &:nth-last-of-type(4n) {
      margin-right: 0;
    }
    .card {
      border: 0;
      transition-duration: 0.5s;
      .card-body {
        .card-title {
          text-align: center;
          color: #000;
          font-weight: 400;
        }
      }
      .card-img-top {
        border-radius: 1.5rem;
        transition-duration: 0.5s;
      }
      &:hover {
          transform: translateY(-10px);
          transition-duration: 0.5s;
          .card-img-top {
            box-shadow: 0 0 10px rgba(0,0,0,0.4);
            transition-duration: 0.5s;
          }
          
      }
    }
  }
  &:after {
    content: "";
    clear: both;
    display: table;
  }
  .card-link + .card-link {
    margin-left: 0;
  }
}