header {
	background-color: #22252c;
	border-bottom: 0.5px solid #22252c;
	position: fixed;
	width: 100%;
	z-index: 99999;
	height: 64px;
	top: 0;
	nav {
		&.navbar {
			background-color: #fff;
			border-bottom: 0.5px solid rgba(255, 255, 255, 0.5);
			box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
			position: fixed;
			width: 100%;
			z-index: 99999;
			height: 64px;
			.container {
				align-items: center;
				padding: 5px 0;
				.logo-container {
					a {
						display: inline-block;
						height: 40px;
						img {
							width: auto;
							height: 100%;
						}
					}
				}
				.navigation {
					.navs {
						list-style: none;
						padding: 0;
						margin: 0;
						>li {
							display: inline-block;
							>a {
								display: inline-block;
								padding: 0 25px;
								color: #37474f;
								font-size: 17px;
								line-height: 20px;
								transition-duration: 0.2s;
								text-transform: uppercase;
								position: relative;
								&:hover {
									color: #ed1c24;
									text-decoration: none;
								}
								i {
									color: #707070;
									position: absolute;
									top: 19px;
									right: 20px;
								}
								&.is-active.router-link-active {
									color: #ed1c24;
								}
							}
							&.dropdown--trigger {
								position: relative;
								ul {
									position: absolute;
									top: 43px;
									left: 25px;
									z-index: 999;
									width: 150px;
									background: #fff;
									list-style: none;
									padding: 10px;
									margin: 0;
									opacity: 0;
									visibility: hidden;
									box-shadow: 0 0 10px rgba(0,0,0,0.1);
									transition: 300ms ease-in-out;
									li {
										a {
											display: block;
											padding: 10px 0;
											border-bottom: 1px solid #37474f;
											color: #37474f;
											font-size: 15px;
											text-align: left;
											&:hover {
												text-decoration: none;
												color: #ed1c24;
											}
										}
										&:last-of-type {
											a {
												border-bottom: none;
											}
										}
									}
								}
								&:hover ul {
									opacity: 1;
									visibility: visible;
								}
							}
							&:last-of-type {
								a {
									border-right: none;
								}
							}
						}
					}
				}
			}
		}
	}
}