.home {
    margin-top: 64px;
    .homepage--slider {
        figure {
            position: relative;
            margin-bottom: 0;
            height: 90vh;
            background-size: cover;
            background-position: center center;
            background-repeat: no-repeat;
            figcaption {
                position: absolute;
                top: 30%;
                right: 10%;
                .century--heading {
                    color: #524334;
                    &:after {
                        background: #524334;
                    }
                }
                h2 {
                    font-size: 60px;
                    color: #524334;
                    font-weight: 400;
                    margin-bottom: 20px;
                    text-transform: uppercase;
                    small {
                        display: block;
                        font-size: 22px;
                    }
                }
                &.right {
                    left: 10%;
                    .century--heading {
                        color: #fff;
                        &:after {
                            background: #fff;
                        }
                    }
                    h2 {
                        color: #fff;
                    }
                }
            }
        }
        .VueCarousel-pagination {
            position: absolute;
            bottom: 0;
            button {
                &.VueCarousel-dot {
                    background-color: rgba(255,255,255,0.3) !important;
                    width: 15px !important;
                    height: 15px !important;
                    &.VueCarousel-dot--active {
                        background-color: #fff !important;
                    }
                }
                &:focus {
                    outline: none;
                }
            }
        }
    }
    section {
        .prod-banner {
            width: 100%;
            margin-bottom: 0;
            position: relative;
            height: 80vh;
            display: flex;
            justify-content: center;
            align-items: center;
            overflow-x: hidden;
            img {
                height: 100%;
                width: auto;
            }
            button {
                &.trigger--caption {
                    color: #fff;
                    background: rgba(255,255,255,0.6);
                    border-radius: 100%;
                    padding: 8px 13px;
                    margin-bottom: 10px;
                    display: inline-block;
                    width: 40px !important;
                    height: 40px;
                    text-align: center;
                    line-height: 40px;
                    border: 1px solid #ed1c24;
                    font-size: 15px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    position: absolute;
                    right: 35px;
                    z-index: 1;
                    margin-bottom: 0;
                    transition-duration: 0.7s;
                    &.openCaption {
                        right: 48%;
                        transition-duration: 0.7s;
                        &:after {
                            position: absolute;
                            content: '\f061';
                            font-family: 'Font Awesome 5 Free';
                            font-weight: 900;
                        }
                    }
                    &:after {
                        position: absolute;
                        content: '\f060';
                        font-family: 'Font Awesome 5 Free';
                        font-weight: 900;
                    }
                }
                &:focus {
                    outline: none;
                }
            }
            .product_desc {
                position: absolute;
                right: -45%;
                width: 50%;
                top: 0;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                height: 100%;
                background: rgba(0,0,0,0.6);
                p {
                    color: #fff;
                }
                .plain {
                    padding: 30px 60px;
                    overflow: hidden;
                    h2 {
                        &.section--heading {
                            color: #fff;
                            margin-bottom: 20px;
                        }
                    }
                }
            }
        }
        &.creating--responsibly {
            background-image: url('../img/homepage/creating--responsibly.jpg');
            height: 100vh;
            background-size: cover;
            background-position: center 30%;
            background-repeat: no-repeat;
            position: relative;
            .content {
                position: absolute;
                top: 40%;
                left: 10%;
                width: 35%;
                h2 {
                    font-size: 40px;
                    line-height: 48px;
                    text-transform: uppercase;
                    font-weight: 400;
                    margin-bottom: 20px;
                    &:after {
                        width: 450px;
                    }
                }
            }
        }
        &.dwr--wrapper {
            background: #13171c;
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
            overflow-x: hidden;
            .dwr-wrap {
                position: relative;
                >img {
                    position: absolute;
                    top: 10px;
                    z-index: 9;
                    left: 30px;
                }
            }
        }
        &.dir--wrapper {
            background: #000414;
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
            overflow-x: hidden;
            .dir-wrap {
                position: relative;
                >img {
                    position: absolute;
                    top: 10px;
                    z-index: 9;
                    left: 30px;
                }
            }
        }
        &.why_prowud_wrapper {
            padding: 100px 0;
            h2 {
                position: relative;
                margin-bottom: 60px;
                font-weight: 400;
                text-transform: uppercase;
                &:after {
                    position: absolute;
                    content: "";
                    background: #ed1c24;
                    height: 1px;
                    width: 350px;
                    bottom: 0;
                    left: 0;
                }
            }
            .why__prowud__pointers {
                .card {
                    border: 0;
                    border-radius: 0;
                    .tabs {
                        ul {
                            flex-direction: row !important;
                            align-items: flex-end;
                            background: transparent;
                            padding: 0;
                            li {
                                &.nav-item {
                                    display: inline-block;
                                    height: auto;
                                    width: 29.1%;
                                    text-align: center;
                                    margin: 50px 10px;
                                    margin-top: 0;
                                    &:nth-of-type(1) {
                                        .nav-link {
                                            position: relative;
                                            &:before {
                                                position: absolute;
                                                top: 10px;
                                                right: 0;
                                                left: 0;
                                                border: 1px solid rgba(0,0,0,.3);
                                                border-radius: 0.5rem;
                                                height: 130px;
                                                padding: 30px;
                                                content: url('../img/icons/group.svg');
                                            }
                                        }
                                    }
                                    &:nth-of-type(2) {
                                        .nav-link {
                                            position: relative;
                                            &:before {
                                                position: absolute;
                                                top: 10px;
                                                right: 0;
                                                left: 0;
                                                border: 1px solid rgba(0,0,0,.3);
                                                border-radius: 0.5rem;
                                                height: 130px;
                                                padding: 30px;
                                                content: url('../img/icons/manufacture.svg');
                                            }
                                        }
                                    }
                                    &:nth-of-type(3) {
                                        .nav-link {
                                            position: relative;
                                            &:before {
                                                position: absolute;
                                                top: 10px;
                                                right: 0;
                                                left: 0;
                                                border: 1px solid rgba(0,0,0,.3);
                                                border-radius: 0.5rem;
                                                height: 130px;
                                                padding: 30px;
                                                content: url('../img/icons/feather.svg');
                                            }
                                        }
                                    }
                                    &:nth-of-type(4) {
                                        .nav-link {
                                            position: relative;
                                            &:before {
                                                position: absolute;
                                                top: 10px;
                                                right: 0;
                                                left: 0;
                                                border: 1px solid rgba(0,0,0,.3);
                                                border-radius: 0.5rem;
                                                height: 130px;
                                                padding: 30px;
                                                content: url('../img/icons/cloudy.svg');
                                            }
                                        }
                                    }
                                    &:nth-of-type(5) {
                                        .nav-link {
                                            position: relative;
                                            &:before {
                                                position: absolute;
                                                top: 10px;
                                                right: 0;
                                                left: 0;
                                                border: 1px solid rgba(0,0,0,.3);
                                                border-radius: 0.5rem;
                                                height: 130px;
                                                padding: 30px;
                                                content: url('../img/icons/money.svg');
                                            }
                                        }
                                    }
                                    &:nth-of-type(6) {
                                        .nav-link {
                                            position: relative;
                                            &:before {
                                                position: absolute;
                                                top: 10px;
                                                right: 0;
                                                left: 0;
                                                border: 1px solid rgba(0,0,0,.3);
                                                border-radius: 0.5rem;
                                                height: 130px;
                                                padding: 30px;
                                                content: url('../img/icons/termite.svg');
                                            }
                                        }
                                    }
                                    .nav-link {
                                        color: #aaa;
                                        background-color: transparent;
                                        height: 120px;
                                        padding-top: 150px;
                                        text-align: center;
                                        &.active {
                                            background: transparent;
                                            color: #13171c;
                                            &:before {
                                                border: 1px solid rgba(0,0,0,1);
                                                filter: brightness(-200%);
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                    .card-text {
                        h3 {
                            font-weight: 400;
                            margin-bottom: 20px;
                        }
                    }
                }
            }
        }
        &.explore--modal {
            overflow: hidden;
            .container-fluid {
                padding: 0;
                [class*="col-"] {
                    padding: 0;
                }
            }
            ul {
                .extremes-div {
                    .extremes-inner {
                        li {
                            &.meter-niddle {
                                position: relative;
                                &:before {
                                    position: absolute;
                                }
                            }
                        }
                    }
                    &:nth-of-type(1) {
                        li {
                            &.meter-niddle {
                                &:before {
                                    content: url('../img/homepage/swatches/canyon-oak/Decent-Walnut-3524.jpg');
                                }
                            }
                        }
                    }
                    &:nth-of-type(2) {
                        li {
                            &.meter-niddle {
                                &:before {
                                    content: url('../img/homepage/swatches/cover and inside pages/Cover_front.jpg');
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}