.single-product {
    margin-top: 64px;
    section {
        padding: 100px 0;
        &.experience--wrapper {
            padding: 0;
        }
        &.more-options {
            .options__wrapper {
                h2 {
                    &.section--heading {
                        &:after {
                            width: 230px;
                        }
                    }
                }
            }
        }
    }
}