.PP {
    text-align: left;
    section {
        .container {
            max-width: 85vw;
            .row {
                height: 90vh;
            }
        }
        &.heroSection {
            background: url('../img/PP.png') no-repeat center center/cover;
            margin-top: 64px;
            .container {
                .row {
                    .col-md-12 {
                        display: flex;
                        justify-content: flex-end;
                        .heroHeading {
                            text-align: left;
                            h3 {
                                &.century--heading {
                                    font-size: 30px;
                                    &:after {
                                        background: #000;
                                    }
                                }
                            }
                            h2 {
                                font-size: 80px;
                                color: #000;
                                font-weight: 400;
                                text-transform: uppercase;
                            }
                        }
                    }
                }
            }
        }
        &.tabsSection {
            background: #000;
            .container {
                .row {
                    .col-md-12 {
                        &.contentContainer {
                            height: 80vh;
                            overflow: hidden;
                            background: url('../img/PPBG.png') no-repeat center center/cover;
                            .row {
                                height: 100%;
                                .col-md-6 {
                                    &.sectionContentContainer {
                                        background: rgba(0, 0, 0, 0.85);
                                        height: 100%;
                                        display: flex;
                                        justify-content: center;
                                        align-items: flex-start;
                                        padding: 25px 25px;
                                        width: 100%;
                                        .sectionContent {
                                            width: 100%;
                                            $tab-count: 2;
                                            /* breakpoints */
                                            $breakpoints: (medium: #{$tab-count*250px},
                                            small: #{$tab-count*150px});
                                            /* selectors relative to radio inputs */
                                            $label-selector: "~ ul > li";
                                            $slider-selector: "~ .slider";
                                            $content-selector: "~ .content > .theTabs";
                                            @mixin tabs($label-selector: $label-selector, $slider-selector: $slider-selector, $content-selector: $content-selector) {
                                                @for $i from 1 through $tab-count {
                                                    &:nth-of-type(#{$i}):checked {
                                                        #{$label-selector}:nth-child(#{$i}) {
                                                            @content;
                                                        }
                                                        #{$slider-selector} {
                                                            transform: translateX(#{100% * ($i - 1)});
                                                        }
                                                        #{$content-selector}:nth-child(#{$i}) {
                                                            display: block;
                                                        }
                                                    }
                                                }
                                            }
                                            .tabs {
                                                left: 50%;
                                                transform: translateX(-50%);
                                                position: relative;
                                                min-width: #{$tab-count * 60px};
                                                width: 100%;
                                                input[name="tab-control"] {
                                                    display: none;
                                                }
                                                .titleList {
                                                    list-style-type: none;
                                                    padding-left: 0;
                                                    display: inline-flex;
                                                    flex-direction: row;
                                                    margin-bottom: 10px;
                                                    justify-content: center;
                                                    align-items: flex-end;
                                                    flex-wrap: wrap;
                                                    width: 100%;
                                                    li {
                                                        box-sizing: border-box;
                                                        margin-right: 51px;
                                                        position: relative;
                                                        line-height: 100px;
                                                        height: 100px;
                                                        &:after {
                                                            position: absolute;
                                                            content: "";
                                                            right: -25px;
                                                            width: 1px;
                                                            height: 50%;
                                                            background: #fff;
                                                            top: 50%;
                                                            transform: translateY(-50%);
                                                        }
                                                        &:last-of-type {
                                                            margin-right: 0px;
                                                            &:after {
                                                                background: transparent;
                                                            }
                                                        }
                                                        label {
                                                            transition: all 0.3s ease-in-out;
                                                            padding: 5px auto;
                                                            overflow: hidden;
                                                            text-overflow: ellipsis;
                                                            display: block;
                                                            cursor: pointer;
                                                            transition: all 0.2s ease-in-out;
                                                            white-space: nowrap;
                                                            -webkit-touch-callout: none;
                                                            color: #000;
                                                            font-weight: 500;
                                                            font-size: 14px;
                                                            // @include user-select(none);
                                                            img {
                                                                filter: grayscale(80%);
                                                                transform: scale(0.9);
                                                                transition: all ease-in-out 0.3s;
                                                            }
                                                            &:hover,
                                                            &:focus,
                                                            &:active {
                                                                outline: 0;
                                                            }
                                                        }
                                                    }
                                                }
                                                .content {
                                                    margin-top: 30px;
                                                    .theTabs {
                                                        display: none;
                                                        color: #fff;
                                                        animation: {
                                                            name: content;
                                                            direction: normal;
                                                            duration: 0.3s;
                                                            timing-function: ease-in-out;
                                                            iteration-count: 1;
                                                        }
                                                        ul {
                                                            display: flex;
                                                            justify-content: flex-start;
                                                            align-items: center;
                                                            margin-bottom: 20px;
                                                            &.nav {
                                                                li {
                                                                    &.nav-item {
                                                                        margin-right: 30px;
                                                                        a {
                                                                            position: relative;
                                                                            font-size: 30px;
                                                                            line-height: 37px;
                                                                            text-transform: uppercase;
                                                                            padding: 0px;
                                                                            border-radius: 0px;
                                                                            transform: scale(0.9);
                                                                            transition: all ease-in-out 0.3s;
                                                                            color: #616161;
                                                                            text-decoration: none;
                                                                            &.nav-link {
                                                                                &.active {
                                                                                    background: transparent;
                                                                                    border-bottom: 1px solid #ff0000;
                                                                                    color: #fff;
                                                                                    transform: scale(1);
                                                                                }
                                                                            }
                                                                            &:hover {
                                                                                color: #f7f7f7;
                                                                            }
                                                                        }
                                                                    }
                                                                }
                                                            }
                                                        }
                                                        .tab-content {
                                                            .tab-pane {
                                                                font-size: 17px;
                                                                line-height: 24px;
                                                                div {
                                                                    &.common {
                                                                        margin-top: 20px;
                                                                        .title {
                                                                            text-transform: uppercase;
                                                                            font-size: 20px;
                                                                            line-height: 24px;
                                                                        }
                                                                    }
                                                                }
                                                            }
                                                        }
                                                    }
                                                }
                                                input[name="tab-control"] {
                                                    @include tabs {
                                                        >label {
                                                            cursor: default;
                                                            // color: #red;
                                                            img {
                                                                filter: grayscale(0%);
                                                                transform: scale(1);
                                                            }
                                                            @media (max-width: map-get($breakpoints,
                                                            small)) {
                                                                background: rgba(0, 0, 0, 0.08);
                                                            }
                                                        }
                                                    }
                                                }
                                                @keyframes content {
                                                    from {
                                                        opacity: 0;
                                                        transform: translateY(5%);
                                                    }
                                                    to {
                                                        opacity: 1;
                                                        transform: translateY(0%);
                                                    }
                                                }
                                                @media (max-width: map-get($breakpoints,
                                                medium)) {
                                                    ul li label {
                                                        white-space: initial;
                                                    }
                                                }
                                                @media (max-width: map-get($breakpoints,
                                                small)) {
                                                    ul li label {
                                                        padding: 5px;
                                                        border-radius: 5px;
                                                        span {
                                                            display: none;
                                                        }
                                                    }
                                                    .content {
                                                        margin-top: 20px;
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        &.features {
            padding: 90px 0 70px 0;
            height: 100vh;
            .container {
                .row {
                    height: auto;
                    &.headingRow {
                        h2 {
                            &.sectionHeading {
                                font-size: 40px;
                                line-height: 48px;
                                border-bottom: 1px solid #FF0000;
                                margin-bottom: 60px;
                                font-weight: 400;
                            }
                        }
                    }
                    &.contentRow {
                        .col-md-2 {
                            &.gridItem {
                                margin-top: 10px;
                                margin-bottom: 10px;
                                text-align: center;
                                text-decoration: none;
                                color: #000;
                                display: flex;
                                flex-direction: column;
                                justify-content: center;
                                align-items: center;
                                padding: 0px !important;
                                .imgContainer {
                                    height: 130px;
                                    width: 130px;
                                    border: 1px solid #707070;
                                    border-radius: 10px;
                                    display: flex;
                                    flex-direction: column;
                                    justify-content: center;
                                    align-items: center;
                                    overflow: hidden;
                                    img {
                                        height: 100%;
                                        width: 100%;
                                    }
                                }
                                .featureName {
                                    font-size: 17px;
                                    font-weight: 300;
                                    line-height: 20px;
                                    color: #9E9E9E;
                                    margin-top: 10px;
                                    height: 40px;
                                }
                            }
                        }
                    }
                }
            }
        }
        &.premiumplus--features {
            padding: 100px 0;
            h2 {
                position: relative;
                margin-bottom: 60px;
                font-weight: 400;
                text-transform: uppercase;
                &:after {
                    position: absolute;
                    content: "";
                    background: #ed1c24;
                    height: 1px;
                    width: 350px;
                    bottom: 0;
                    left: 0;
                }
            }
            .why__premiumplus {
                .card {
                    border: 0;
                    border-radius: 0;
                    .tabs {
                        ul {
                            flex-direction: row !important;
                            align-items: flex-end;
                            background: transparent;
                            padding: 0;
                            li {
                                &.nav-item {
                                    display: inline-block;
                                    height: auto;
                                    width: 29.1%;
                                    text-align: center;
                                    margin: 50px 10px;
                                    margin-top: 0;
                                    &:nth-of-type(1) {
                                        .nav-link {
                                            position: relative;
                                            &:before {
                                                position: absolute;
                                                top: 10px;
                                                right: 0;
                                                left: 0;
                                                border: 1px solid rgba(0, 0, 0, .3);
                                                border-radius: 0.5rem;
                                                height: 130px;
                                                display: flex;
                                                justify-content: center;
                                                align-items: center;
                                                content: url('../img/icons/badge.svg');
                                            }
                                        }
                                    }
                                    &:nth-of-type(2) {
                                        .nav-link {
                                            position: relative;
                                            &:before {
                                                position: absolute;
                                                top: 10px;
                                                right: 0;
                                                left: 0;
                                                border: 1px solid rgba(0, 0, 0, .3);
                                                border-radius: 0.5rem;
                                                height: 130px;
                                                display: flex;
                                                justify-content: center;
                                                align-items: center;
                                                content: url('../img/icons/hammer.svg');
                                            }
                                        }
                                    }
                                    &:nth-of-type(3) {
                                        .nav-link {
                                            position: relative;
                                            &:before {
                                                position: absolute;
                                                top: 10px;
                                                right: 0;
                                                left: 0;
                                                border: 1px solid rgba(0, 0, 0, .3);
                                                border-radius: 0.5rem;
                                                height: 130px;
                                                display: flex;
                                                justify-content: center;
                                                align-items: center;
                                                content: url('../img/icons/cloudy.svg');
                                            }
                                        }
                                    }
                                    &:nth-of-type(4) {
                                        .nav-link {
                                            position: relative;
                                            &:before {
                                                position: absolute;
                                                top: 10px;
                                                right: 0;
                                                left: 0;
                                                border: 1px solid rgba(0, 0, 0, .3);
                                                border-radius: 0.5rem;
                                                height: 130px;
                                                display: flex;
                                                justify-content: center;
                                                align-items: center;
                                                content: url('../img/icons/paint-brushes.svg');
                                            }
                                        }
                                    }
                                    &:nth-of-type(5) {
                                        .nav-link {
                                            position: relative;
                                            &:before {
                                                position: absolute;
                                                top: 10px;
                                                right: 0;
                                                left: 0;
                                                border: 1px solid rgba(0, 0, 0, .3);
                                                border-radius: 0.5rem;
                                                height: 130px;
                                                display: flex;
                                                justify-content: center;
                                                align-items: center;
                                                content: url('../img/icons/money.svg');
                                            }
                                        }
                                    }
                                    &:nth-of-type(6) {
                                        .nav-link {
                                            position: relative;
                                            &:before {
                                                position: absolute;
                                                top: 10px;
                                                right: 0;
                                                left: 0;
                                                border: 1px solid rgba(0, 0, 0, .3);
                                                border-radius: 0.5rem;
                                                height: 130px;
                                                display: flex;
                                                justify-content: center;
                                                align-items: center;
                                                content: url('../img/icons/termite.svg');
                                            }
                                        }
                                    }
                                    &:nth-of-type(7) {
                                        .nav-link {
                                            position: relative;
                                            &:before {
                                                position: absolute;
                                                top: 10px;
                                                right: 0;
                                                left: 0;
                                                border: 1px solid rgba(0, 0, 0, .3);
                                                border-radius: 0.5rem;
                                                height: 130px;
                                                display: flex;
                                                justify-content: center;
                                                align-items: center;
                                                content: url('../img/icons/madeinindia.svg');
                                            }
                                        }
                                    }
                                    &:nth-of-type(8) {
                                        .nav-link {
                                            position: relative;
                                            &:before {
                                                position: absolute;
                                                top: 10px;
                                                right: 0;
                                                left: 0;
                                                border: 1px solid rgba(0, 0, 0, .3);
                                                border-radius: 0.5rem;
                                                height: 130px;
                                                display: flex;
                                                justify-content: center;
                                                align-items: center;
                                                content: url('../img/icons/group.svg');
                                            }
                                        }
                                    }
                                    &:nth-of-type(9) {
                                        .nav-link {
                                            position: relative;
                                            &:before {
                                                position: absolute;
                                                top: 10px;
                                                right: 0;
                                                left: 0;
                                                border: 1px solid rgba(0, 0, 0, .3);
                                                border-radius: 0.5rem;
                                                height: 130px;
                                                display: flex;
                                                justify-content: center;
                                                align-items: center;
                                                content: url('../img/icons/vastrange.svg');
                                            }
                                        }
                                    }
                                    .nav-link {
                                        color: #aaa;
                                        background-color: transparent;
                                        height: 120px;
                                        padding-top: 150px;
                                        text-align: center;
                                        &.active {
                                            background: transparent;
                                            color: #13171c;
                                            &:before {
                                                border: 1px solid rgba(0, 0, 0, 1);
                                                filter: brightness(-200%);
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                    .card-text {
                        h3 {
                            font-weight: 400;
                            margin-bottom: 30px;
                        }
                    }
                }
            }
        }
    }
}