.product_ {
    margin-top: 64px;
    .top--banner {
        background-image: url('../img/experience/experience-banner.png');
        height: 66vh;
        background-size: cover;
        background-position: center 30%;
        background-repeat: no-repeat;
        position: relative;
        .banner--writeup {
            display: flex;
            justify-content: center;
            align-items: flex-start;
            flex-direction: column;
            height: 100%;
            padding-left: 8%;
            .century--heading {
                position: relative;
                padding: 5px 0;
                color: #431a2e;
                text-transform: uppercase;
                font-weight: 400;
                &:before, &:after {
                    position: absolute;
                    content: "";
                    background: #431a2e;
                    height: 1px;
                    width: 250px;
                    right: 0;
                }
                &:before {
                    top: 0;
                }
                &:after {
                    bottom: 0;
                }
            }
            h2 {
                font-size: 60px;
                color: #431a2e;
                font-weight: 400;
                text-transform: uppercase;
                small {
                    display: block;
                    font-size: 22px;
                }
            }
        }
    }
}