.stockists {
    text-align: left;
    section {
        .container {
            max-width: 85vw;
        }
        &.heroSection {
            background: url('../img/stockists.png') no-repeat center center/cover;
            margin-top: 64px;
            .container {
                .row {
                    height: 66vh;

                    .col-md-12 {
                        .heroHeading {

                            .smallText {
                                font-size: 30px;
                                font-weight: 500;
                                line-height: 37px;
                                color: #FFFFFF;
                                border-top: 1px solid #FFF;
                                border-bottom: 1px solid #FFF;
                                display: inline-block;
                                text-transform: uppercase;
                            }

                            .bigText {
                                font-size: 80px;
                                line-height: 96px;
                                color: #FFFFFF;
                                text-transform: uppercase;
                                font-weight: 400;
                            }
                        }
                    }
                }
            }
        }
        &.findUs {
            padding: 90px 0 70px 0;
            background: #13171C;
            .card {
                background: transparent;
                border: 0;
                header {
                    &.card-header {
                        position: unset;
                        padding: 0;
                        height: unset;
                        background: transparent;
                        border: 0;
                        a {
                            &.btn-info {
                                text-align: left;
                                background: transparent;
                                border: 0;
                                color: #fff;
                                transition-duration: 0.7s;
                                &:focus {
                                    outline: none;
                                    box-shadow: none;
                                }
                                &.collapsed {
                                    transition-duration: 0.7s;
                                    &:after {
                                        content: "\F067";
                                        position: absolute;
                                        right: 12px;
                                        font-family: Font Awesome\ 5 Free;
                                        font-weight: 900;
                                        line-height: 30px;
                                        display: flex;
                                        justify-content: center;
                                        align-items: center;
                                        top: 50%;
                                        right: 40px;
                                        transform: translateY(-50%);
                                        font-size: 14px;
                                        color: #fff;
                                    }
                                }
                                &:after {
                                    content: "\F068";
                                    position: absolute;
                                    right: 12px;
                                    font-family: Font Awesome\ 5 Free;
                                    font-weight: 900;
                                    line-height: 30px;
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                    top: 30px;
                                    right: 40px;
                                    transform: translateY(-50%);
                                    font-size: 14px;
                                    color: #fff;
                                }
                            }
                        }
                    }
                }
                h3 {
                    &.century--heading {
                        position: relative;
                        padding-bottom: 10px;
                        &:after {
                            content: "";
                            position: absolute;
                            width: 100%;
                            height: 1px;
                            bottom: -10px;
                            background: rgba(255,255,255,0.1);
                        }
                    }
                }
            }
            .container {
                .row {
                    &.headingRow {
                        h2 {
                            &.sectionHeading {
                                font-size: 40px;
                                line-height: 48px;
                                border-bottom: 1px solid #FF0000;
                                margin-bottom: 60px;
                                font-weight: 400;
                                text-transform: uppercase;
                                color: #FFFFFF;
                            }
                        }
                    }

                    &.contentRow {
                        &.zoneContainer {
                            color: #FFF;
                            margin-bottom: 80px;

                            &:last-of-type {
                                margin-bottom: 0px;
                            }

                            .subHeading {
                                font-size: 35px;
                                line-height: 42px;
                                margin-bottom: 10px;
                                font-weight: 400;
                            }

                            .col-md-4 {
                                &.areaCardContainer {
                                    .areaCard {
                                        border: 1px solid #707070;
                                        border-radius: 0px;
                                        padding: 35px 15px;
                                        margin-top: 15px;
                                        margin-bottom: 15px;
                                        min-height: 400px;

                                        .areaName {
                                            h2 {
                                                &.section--heading {
                                                    font-weight: 700;
                                                    margin-bottom: 20px;
                                                    display: inline-block;
                                                    &:after {
                                                        width: 100%;
                                                    }
                                                }
                                            }
                                        }

                                        .text {
                                            p {
                                                font-weight: 100px;
                                                font-size: 15px;
                                                &.phone_number {
                                                    margin-bottom: 5px;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}